/*
** GENERAL
*******/

$baloo : 'Baloo', cursive;

body {

	&#ComboHome {
		background-color: $color10;
	}

	&#ComboLandingPage {
		background-color: $color06;
		background-image: url('background-diaDoConsumidor-02.png');
		background-position: center center;
	}

	.#{$resetClass} {

		.content {
			width: size(1180);
			margin: 0 auto;
			display: block;
		}
	}
}