/*
** LANDING PAGE COLOR PALETTE
*******/
$css : (
	'#asideMenu' : (
		property : (
			background-color : $color09
		),
		h3 : (
			property : (
				color 				: $color05,
				background-color 	: $color08
			),
		),
		ul : (
			a : (
				property : (
					color	: $color08
				),
				before : (
					color	: $color01
				)
			)
		),
		'.asideBanner' : (
			property : (
				background-color : $color11
			),
			h4 	: (
				property : (
					background-color : $color01
				),
				i : (
					property : (
						color : $color06
					)
				),
				span : (
					property : (
						color : $color08
					)
				)
			),
			h5 : (
				property : (
					color : $color08
				)
			)
		)
	),
	'.comboBanner' : (
		property : (
			background-image : url('background-diaDoConsumidor-03.png')
		),
		h1 : (
			property : (
				color : $color01
			)
		)
	),
	'.comboCollection' : (
		h1 	: (
			property : (
				border-color : $color05
			)
		),
		'.shelfV2' 	: (
			'.shelfDiscount' : (
				property : (
					background-color : $color02
				)
			),
			'.shelfPrice' : (
				b : (
					property : (
						color : $color02
					)
				)
			),
			'.shelfInfo' : (
				button : (
					property : (
						background-color 	: $color02,
						border-color		: $color02,
						color 				: $color08
					)
				)
			)
		),
		button 	: (
			property : (
				color 				: $color08,
				background-color 	: $color02,
				border-color 		: $color03
			)
		)
	)
);

@include instance($css);

/*
** LANDING PAGE COLOR PALETTE
*******/
#comboLandingPage {

	.comboLandingPageContent {

		#asideMenu {

			.asideBanner {

				& {
					width: 100%;
					float: left;
					-webkit-border-top-right-radius: 5px;
							border-top-right-radius: 5px;
					-webkit-border-top-left-radius: 5px;
							border-top-left-radius: 5px;
					text-align: center;
				}

				h4 {
					
					& {
						width: auto;
						display: none;
						font-weight: normal;
						text-transform: uppercase;
						line-height: size(20);
						padding: 0.5rem 1rem;
						-webkit-border-radius: 5px;
								border-radius: 5px;
						margin-top: size(-28);
					}

					i {
						float: left;
						font-size: size(42);
						font-style: normal;
						font-weight: bold;
						margin: 0.5rem 0;
						margin-right: 0.5rem;
					}

					span {
						display: block;
						overflow: hidden;
						font-family: $baloo;
						font-size: size(26);
					}

					strong {
						display: block;
						font-size: size(16);
					}
				}

				h5 {
					
					& {
						width: 100%;
						float: left;
						display: none;
						text-transform: uppercase;
						font-weight: normal;
					}

					span {
						
						& {
							display: inline-block;
							font-size: size(10);
							line-height: size(12);
							text-align: right;
							vertical-align: middle;
							margin-right: 0.5rem;
						}

						b {
							display: block;
						}
					}

					strong {

						& {
							display: inline-block;
							font-size: size(55);
							vertical-align: middle;
							line-height: 4rem;
						}

						i {
							font-style: normal;
							font-size: size(30);
							display: inline-block;
							vertical-align: middle;
						}
					}
				}

				&.actived {

					h4 {
						display: inline-block;
					}

					h5 {
						display: inline-block;
					}
				}
			}

			h3 {
				text-align: left;
			}

			ul {

				li {

					&:hover {
						
						& {
							background-color: $color05;
						}

						a:before {
							color: $color08;
						}
					}

					&.actived {
						background-color: $color05;
					}
				}
			}
		}

		.comboBanner {

			& {
				background-repeat: repeat-x;
			}

			h1 {

				strong {
					font-family: $baloo;
				}
			}
		}

		.comboCollection {

			& > button {

				&:hover {
					margin-top: size(35);
					border-bottom: 0;
				}
			}

			.comboRender {

				& {
					width: 100%;
					display: inline-block;
					text-align: left;
				}

				.shelfV2 {

					.shelfInfo {

						button {
							outline: none;
						}
					}

					&:hover {
						
						button {
							color: #FFFFFF;
						}
					}	
				}

				ul {

					& {
						margin-left: -1rem;
						font-size: 0;
					}

					li {
						
						& {
							width: 25%;
							padding-left: 1rem;
							display: inline-block;
							margin-top: 3rem;
							vertical-align: top;
						}

						img {
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}