/*
** HEADER COLOR PALETTE
*******/
$css : (
	'#comboHeader' : (
		property : (
			background-color 	: $color06,
			background-image 	: url('background-diaDoConsumidor.png'),
			margin-top 			: '1px',
		),
		'.headerDiscount' : (
			h1 : (
				property: (
					color : $color01
				),
				b : (
					property : (
						color : $color12
					)
				)
			)
		),
		'#comboCountDown' : (
			h5 : (
				property : (
					background-color 	: $color01,
					color 				: $color08,
				),
				span	: (
					property : (
						color	: $color06
					)
				)
			),
			ul : (
				span : (
					property : (
						color : $color08
					)
				)
			)
		)
	)
);

@include instance($css);

/*
** HEADER 
*******/
#comboHeader {

	& {
		background-position: center center;
		-webkit-animation: sliderBackground;
	    -webkit-animation-duration: 40s;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-iteration-count: infinite;
			    animation: sliderBackground;
			    animation-duration: 40s;
			    animation-timing-function: linear;
			    animation-iteration-count: infinite;
	}

	.comboHeaderContent {

		.headerImage1 {

			& {
				width: 100%;
				float: left;
			}

			img {
				max-width: 100%;
				margin: 0 auto;
			}
		}

		.headerDiscount {

			& {
				width: 100%;
				display: inline-block;
				text-align: center;
			}

			h1 {

				strong {
					font-family: $baloo;
					font-weight: 800;
				}
			}
		}
	}
}

@-webkit-keyframes sliderBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

@keyframes sliderBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}