/*
** SHELF COLOR PALETTE
*******/
$css : (
	'.shelfv1' : (
		p : (
			span : (
				property : (
					color : $color04
				)
			),
			i : (
				property : (
					color : $color05
				)
			),
			b : (
				property : (
					color : $color05
				)
			),
			strong : (
				property : (
					color : $color02
				)
			)
		),
		button : (
			property : (
				border-color		: $color03,
				background-color	: $color02,
				color 				: $color08
			)
		)
	)
);

@include instance($css);

/*
** SHELF
*******/
.shelfv1 {

	& {
		transition: box-shadow 0.15s ease;
	}

	&:hover {
		box-shadow: 0 0 10px #999999;
	}

	.shelfInfo {

		p {

			b {
				font-size: size(28);
			}
		}
	}

	.shelfImage {

		& {
			width: 100%;
			float: left;
		}

		img {
			max-width: 100%;
			margin: 0 auto;
		}
	}
}