<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
	<head>
		<vtex:template id="td-head" />
		<title>Home</title>
	</head>
	<body id="ComboLandingPage">

		<!-- Init Combo Landing Page -->
		<section>
			<div class="comboCampaign">
				<div id="comboLandingPage">
					<div class="content">
						<div class="comboLandingPageContent">
							<div class="col-mn-12">
								<!-- # -->

								<div class="row">
									<div class="col-mn-3">
										<div class="asideFixed">
											<div id="asideMenu">
												<h3>
													Categorias
												</h3>
												<ul>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-mn-9">
										<div class="collectionsRender" data-init="true">
											<script type="text/javascript">

												/*
												** INFO
												*******/
												/*
													query 		> 	// 'H:[IdColeção]' OR 'C'
													-------------------------------------
													order 		> 	// 'OrderByPriceASC'
																	// 'OrderByPriceDESC'
																	// 'OrderByTopSaleDESC'
																	// 'OrderByReviewRateDESC'
																	// 'OrderByNameASC'
																	// 'OrderByNameDESC'
																	// 'OrderByReleaseDateDESC'
													-------------------------------------
													page 		> 	// INTEGER // EX: 0 or 1
													-------------------------------------
													quantity 	>	// INTEGER // EX: 0 or 1
													-------------------------------------
													column 		>	// INTEGER // EX: 0 or 1
													-------------------------------------
													layout 		>	// STRING  // EX: befffe90-a181-4ab2-baca-9c36e7a8dc21
													-------------------------------------
												*/

												var collectionsRender = {
													layout 		: 'befffe90-a181-4ab2-baca-9c36e7a8dc21',
													collections	:[
														{
															id 			: '267',
															name 		: 'Coleção 1',
															query 		: 'H:',
															order  		: 'OrderByPriceASC',
															page 		: 0,
															quantity 	: 8,
															columns 	: 4
														},
														{
															id 			: '268',
															name 		: 'Coleção 2',
															query 		: 'H:',
															order  		: 'OrderByPriceASC',
															page 		: 0,
															quantity 	: 4,
															columns 	: 4
														},
														{
															id 			: '269',
															name 		: 'Coleção 3',
															query 		: 'H:',
															order  		: 'OrderByPriceASC',
															page 		: 0,
															quantity 	: 4,
															columns 	: 4
														},
														{
															id 			: '270',
															name 		: 'Coleção 4',
															query 		: 'H:',
															order  		: 'OrderByPriceASC',
															page 		: 0,
															quantity 	: 4,
															columns 	: 4
														},
														{
															id 			: '271',
															name 		: 'Coleção 5',
															query 		: 'H:',
															order  		: 'OrderByPriceASC',
															page 		: 0,
															quantity 	: 4,
															columns 	: 4
														},
														{
															id 			: '272',
															name 		: 'Coleção 6',
															query 		: 'H:',
															order  		: 'OrderByPriceASC',
															page 		: 0,
															quantity 	: 4,
															columns 	: 4
														}
													]
												};

											</script>
										</div>
									</div>
								</div>

								<!-- # -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Combo Landing Page -->


		<!-- Init Collections Template -->
		<script id="collections-template" type="text/template">
			<div class="comboCollection" id="collection_{{ collections.id }}">
				<h1>
					{{ collections.name }}
				</h1>
				<div class="comboRender">
					<ul>
						<li>
							<vtex:template id="td-shelfv2" />
						</li>
						<li>
							<vtex:template id="td-shelfv2" />
						</li>
						<li>
							<vtex:template id="td-shelfv2" />
						</li>
						<li>
							<vtex:template id="td-shelfv2" />
						</li>
					</ul>
				</div>
				<button id="button_{{ collections.id }}" class="moreOffers" data-id="{{ collections.id }}" data-query="{{ collections.query }}" data-order="{{ collections.order }}" data-page="{{ collections.page }}" data-quantity="{{ collections.quantity }}" data-columns="{{ collections.columns }}" data-layout="{{ layout }}">
					<strong>
						Veja Mais Ofertas
					</strong>
					<span>
						<img src="/arquivos/combo-loader.gif" />
					</span>
				</button>
			</div>
		</script>
		<!-- End Collections Template -->

		<!-- Init List Template -->
		<script id="list-template" type="text/template">
			<li>
				<a href="#collection_{{ id }}">
					{{ name }}
				</a>
			</li>
		</script>
		<!-- End List Template -->

		<vtex:template id="td-scripts" />
	</body>
</html>