<div id="divCompreJunto" class="buy-together-content">
    <table>
        <tbody>
            <tr>
                <td class="itemA">
                    <a href="#">
                        <img src="arquivos/product.jpg" alt="product">
                    </a>
                    <h3>
                        <a href="#">
                            PRODUCT NAME HERE #1
                        </a>
                    </h3>
                </td>
                <td class="plus">
                    +
                </td>
                <td class="itemB">
                    <a href="#">
                        <img src="arquivos/product.jpg" alt="product">
                    </a>
                    <h3>
                        <a href="">
                            PRODUCT NAME HERE #2
                        </a>
                    </h3>
                </td>
                <td class="equal">
                    =
                </td>
                <td class="buy">
                    <p>
                        <span>
                            R$ 2.000,00
                        </span>
                        a vista ou
                        <strong>
                            10x de R$ 200,00<br/>
                            sem juros
                        </strong>
                    </p>
                    <p class="comprar-junto">
                        <a href="#" id="lnkComprar">
                            Comprar
                        </a>
                    </p>
                    <p class="more">
                        <a href="#" id="lnkVejaMais">
                            Veja mais
                        </a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>