<ul class="menu">
	<li class="menu-bolsas">
		<a href="http://lilibag.vtexcommercestable.com.br/bolsas">Bolsas</a>
	</li>
	<li class="menu-termicas-e-mochilas">
		<a href="http://lilibag.vtexcommercestable.com.br/termicas-e-mochilas">Térmicas e Mochilas</a>
	</li>
	<li class="menu-malas">
		<a href="http://lilibag.vtexcommercestable.com.br/malas">Malas</a>
	</li>
	<li class="menu-necessaires">
		<a href="http://lilibag.vtexcommercestable.com.br/necessaires">Necessaires</a>
	</li>
	<li class="menu-acessorios">
		<a href="http://lilibag.vtexcommercestable.com.br/acessorios">Acessórios</a>
	</li>
	<li class="menu-kit">
		<a href="http://lilibag.vtexcommercestable.com.br/kit">Kit</a>
	</li>
</ul>