<div class="menu-departamento">
	<span class="rt"></span>
	<span class="rb"></span>
    <h3 class="banheiro">
    	<span></span>
    	<a class="menu-item-texto" href="">
    		Banheiro
    	</a>
    </h3>
    <ul class="banheiro">
        <li>
        	<a href="">
        		Acabamentos de registros
        	</a>
        </li>
        <li>
        	<a href="">
        		Acessórios para banheiro
        	</a>
        </li>
        <li>
        	<a href="">
        		Bases de Registro
        	</a>
        </li>
        <li>
        	<a href="">
        		Cubas e Lavatórios
        	</a>
        </li>
        <li>
        	<a href="">
        		Móveis para Banehiro
        	</a>
        </li>
        <li>
        	<a href="">
        		Válvulas Automáticas
        	</a>
        </li>
        <li>
        	<a href="">
        		Acessórios para Hidráulica
        	</a>
        </li>
        <li>
        	<a href="">
        		Torneiras e Misturadores
        	</a>
        </li>
        <li>
        	<a href="">
        		Assentos Sanitários
        	</a>
        </li>
        <li>
        	<a href="">
        		Chuveiros e Duchas
        	</a>
        </li>
        <li>
        	<a href="">
        		Válvulas de Descarga
        	</a>
        </li>
        <li>
        	<a href="">
        		Vasos Sanitários e Bidês
        	</a>
        </li>
        <li>
        	<a href="">
        		Grelhas e Ralos
        	</a>
        </li>
    </ul>
    <h3 class="cozinha-e-lavanderia even">
    	<span></span>
    	<a class="menu-item-texto" href="">
    		Cozinha e Lavanderia
    	</a>
    </h3>
    <ul class="cozinha-e-lavanderia even">
        <li>
        	<a href="">
        		Torneiras e Misturadores
        	</a>
        </li>
        <li>
        	<a href="">
        		Acessórios para lavanderia
        	</a>
        </li>
        <li>
        	<a href="">
        		Pias e Cubas para Cozinha
        	</a>
        </li>
        <li>
        	<a href="">
        		Bebedouros e Purificadores
        	</a>
        </li>
        <li>
        	<a href="">
        		Acessórios para Cozinha
        	</a>
        </li>
        <li>
        	<a href="">
        		Coifas e Cooktops
        	</a>
        </li>
        <li>
        	<a href="">
        		Tanques para Lavanderia
        	</a>
        </li>
    </ul>
    <h3 class="ferramentas">
    	<span></span>
    	<a class="menu-item-texto" href="">
    		Ferramentas
    	</a>
    </h3>
    <ul class="ferramentas">
        <li>
        	<a href="">
        		Ferramentas para Construção
        	</a>
        </li>
        <li>
        	<a href="">
        		Ferramentas Elétrica
        	</a>
        </li>
    </ul>
    <h3 class="pintura even">
    	<span></span>
    	<a class="menu-item-texto" href="">
    		Pintura
    	</a>
    </h3>
    <ul class="pintura even">
        <li>
        	<a href="">
        		Impermeabilizantes
        	</a>
        </li>
        <li>
        	<a href="">
        		Solventes e Removedores
        	</a>
        </li>
        <li>
        	<a href="">
        		Vernizes
        	</a>
        </li>
        <li>
        	<a href="">
        		Massas
        	</a>
        </li>
        <li>
        	<a href="">
        		Tintas
        	</a>
        </li>
    </ul>
    <h3 class="utilidades-domesticas">
    	<span></span>
    	<a class="menu-item-texto" href="">
    		Utilidades Domésticas
    	</a>
    </h3>
    <ul class="utilidades-domesticas">
        <li>
        	<a href="">
        		Bomba Hidráulica
        	</a>
        </li>
        <li>
        	<a href="">
        		Interfones
        	</a>
        </li>
        <li>
        	<a href="">
        		Central de Segurança
        	</a>
        </li>
        <li>
        	<a href="">
        		Eletrodomésticos
        	</a>
        </li>
        <li>
        	<a href="">
        		Utilidades Gerais (Acessórios para Decoração)
        	</a>
        </li>
        <li>
        	<a href="">
        		Churrasqueiras
        	</a>
        </li>
        <li>
        	<a href="">
        		Móveis para Jardim
        	</a>
        </li>
        <li>
        	<a href="">
        		Iluminação
        	</a>
        </li>
        <li>
        	<a href="">
        		Climatizador
        	</a>
        </li>
        <li>
        	<a href="">
        		Ar Condicionado
        	</a>
        </li>
        <li>
        	<a href="">
        		Ventiladores
        	</a>
        </li>
    </ul>
    <div class="brandFilter">
        <h3>
        	Marcas
        </h3>
        <ul>
            <li>
            	<a href="">
            		Marca 0
            	</a>
            </li>
            <li>
            	<a href="">
            		Marca 1
            	</a>
            </li>
            <li>
            	<a href="">
            		Marca 2
            	</a>
            </li>
            <li>
            	<a href="">
            		Marca 3
            	</a>
            </li>
            <li>
            	<a href="">
            		Marca 4
            	</a>
            </li>
            <li>
            	<a href="">
            		Marca 5
            	</a>
            </li>
            <li>
            	<a href="">
            		Marca 6
            	</a>
            </li>
            <li>
            	<a href="">
            		Marca 7
            	</a>
            </li>
            <li>
            	<a href="">
            		Marca 8
            	</a>
            </li>
            <li>
            	<a href="">
            		Marca 9
            	</a>
            </li>
        </ul>
    </div>
</div>