<fieldset class="busca">
    <legend>Buscar no site</legend>
    <label>Buscar</label>
    <select id="ftDeptab156b1beb9b4ec4a6bf15a5e6fb339c">
        <option value="">Todo o site</option>
        <option value="1">Ombrellone</option>
        <option value="2">Base</option>
        <option value="3">Toldos</option>
        <option value="4">Acessórios</option>
        <option value="11">Guarda Sol</option>
    </select>
    <input type="hidden" id="ftIdxab156b1beb9b4ec4a6bf15a5e6fb339c" value="">
    <input id="ftBoxab156b1beb9b4ec4a6bf15a5e6fb339c" class="fulltext-search-box ui-autocomplete-input" type="text" size="20" accesskey="b" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" placeholder="Digite aqui o que procura">
    <input id="ftBtnab156b1beb9b4ec4a6bf15a5e6fb339c" type="button" value="Buscar" class="btn-buscar">
</fieldset>