<div class="giftlist giftlistmanager">
    <span class="send-to-cart-confirm" style="display: none !important;">deseja mesmo comprar todos os produtos desta lista?</span>
    <ul class="giftlist-action">
        <li class="giftlist-action-create can-create" style="display:block;"><a href="/giftlist/create" title="Criar uma lista">Criar uma lista</a></li>
        <li class="giftlist-action-manage has-lists" style="display:none;"><a href="/giftlist/manage" title="E necessário estar logado para utilizar listas.">Gerenciar Minhas Listas</a></li>
    </ul>
    <div id="managermessage" class="giftlist-manager-message" style="display:none;">
    </div>
    <div class="glmanager-type giftlisttype-3">
        <h2>Lista de Casamento Com Entrega</h2>
        <table class="giftlist-table">
            <thead class="giftlist-header">
                <tr>
                    <th class="giftlist-header-image" style="display:none;">Foto</th>
                    <th class="giftlist-header-id" style="display:none;">Codigo</th>
                    <th class="giftlist-header-name">Nome</th>
                    <th class="giftlist-header-member">Membros</th>
                    <th class="giftlist-header-eventdate">Data do Evento</th>
                    <th class="giftlist-header-desired">Produtos Desejados</th>
                    <th class="giftlist-header-action">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr id="managelist-6" class="version-2 type-3 private active visitor-has-access member-has-access has-image no-product" ondblclick="document.location='/giftlist/product?id=6';">
                    <td class="giftlist-body-image has-image" style="display:none;"><img height="85" width="85" alt="banner-03.jpg" title="banner-03.jpg" src="//lilibag.vteximg.com.br/arquivos/ids/155596_3/gl-6_636125653088652755.jpg"></td>
                    <td class="giftlist-body-id" style="display:none;">6</td>
                    <td class="giftlist-body-name"><a href="/list/giftlisttest" title="Bruno Sampaio">Bruno Sampaio</a></td>
                    <td class="giftlist-body-member">Bruno Sampaio</td>
                    <td class="giftlist-body-eventdate">21/12/2016</td>
                    <td class="giftlist-body-desired">0</td>
                    <td class="giftlist-body-action">
                        <ul class="glmanager-actions">
                            <li class="action-buy"><a id="glstc-6" class="buy-button send-to-cart" href="#" title="Comprar">Comprar</a></li>
                            <li class="action-view"><a href="/list/giftlisttest" title="Visualizar">Visualizar</a></li>
                            <li class="action-manage"><a href="/giftlist/product?id=6" title="Gerenciar">Gerenciar</a></li>
                            <li class="action-edit"><a href="/giftlist/edit?id=6" title="Editar">Editar</a></li>
                            <li class="action-delete  will-be-deleted"><a href="#" class="action-delete-link" id="managelistdelete-6" title="deseja realmente excluir a lista Bruno Sampaio? Todos participantes e produtos escolhidos também serão excluidos">Excluir</a></li>
                        </ul>
                    </td>
                </tr>
                 <tr id="managelist-6" class="version-2 type-3 private active visitor-has-access member-has-access has-image no-product" ondblclick="document.location='/giftlist/product?id=6';">
                    <td class="giftlist-body-image has-image" style="display:none;"><img height="85" width="85" alt="banner-03.jpg" title="banner-03.jpg" src="//lilibag.vteximg.com.br/arquivos/ids/155596_3/gl-6_636125653088652755.jpg"></td>
                    <td class="giftlist-body-id" style="display:none;">6</td>
                    <td class="giftlist-body-name"><a href="/list/giftlisttest" title="Bruno Sampaio">Bruno Sampaio</a></td>
                    <td class="giftlist-body-member">Bruno Sampaio</td>
                    <td class="giftlist-body-eventdate">21/12/2016</td>
                    <td class="giftlist-body-desired">0</td>
                    <td class="giftlist-body-action">
                        <ul class="glmanager-actions">
                            <li class="action-buy"><a id="glstc-6" class="buy-button send-to-cart" href="#" title="Comprar">Comprar</a></li>
                            <li class="action-view"><a href="/list/giftlisttest" title="Visualizar">Visualizar</a></li>
                            <li class="action-manage"><a href="/giftlist/product?id=6" title="Gerenciar">Gerenciar</a></li>
                            <li class="action-edit"><a href="/giftlist/edit?id=6" title="Editar">Editar</a></li>
                            <li class="action-delete  will-be-deleted"><a href="#" class="action-delete-link" id="managelistdelete-6" title="deseja realmente excluir a lista Bruno Sampaio? Todos participantes e produtos escolhidos também serão excluidos">Excluir</a></li>
                        </ul>
                    </td>
                </tr>
                 <tr id="managelist-6" class="version-2 type-3 private active visitor-has-access member-has-access has-image no-product" ondblclick="document.location='/giftlist/product?id=6';">
                    <td class="giftlist-body-image has-image" style="display:none;"><img height="85" width="85" alt="banner-03.jpg" title="banner-03.jpg" src="//lilibag.vteximg.com.br/arquivos/ids/155596_3/gl-6_636125653088652755.jpg"></td>
                    <td class="giftlist-body-id" style="display:none;">6</td>
                    <td class="giftlist-body-name"><a href="/list/giftlisttest" title="Bruno Sampaio">Bruno Sampaio</a></td>
                    <td class="giftlist-body-member">Bruno Sampaio</td>
                    <td class="giftlist-body-eventdate">21/12/2016</td>
                    <td class="giftlist-body-desired">0</td>
                    <td class="giftlist-body-action">
                        <ul class="glmanager-actions">
                            <li class="action-buy"><a id="glstc-6" class="buy-button send-to-cart" href="#" title="Comprar">Comprar</a></li>
                            <li class="action-view"><a href="/list/giftlisttest" title="Visualizar">Visualizar</a></li>
                            <li class="action-manage"><a href="/giftlist/product?id=6" title="Gerenciar">Gerenciar</a></li>
                            <li class="action-edit"><a href="/giftlist/edit?id=6" title="Editar">Editar</a></li>
                            <li class="action-delete  will-be-deleted"><a href="#" class="action-delete-link" id="managelistdelete-6" title="deseja realmente excluir a lista Bruno Sampaio? Todos participantes e produtos escolhidos também serão excluidos">Excluir</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="therms-area" style="display:none;">
        <h2>Regulamento</h2>
        <div class="therms-text">
            Regulamento da Lista
        </div>
        <div id="therms-accept" class="therms-accept">
            <input type="checkbox" name="giftlistaccept" id="giftlistaccept" checked="checked" disabled="disabled">
            <label for="giftlistaccept">Li e estou de acordo com o regulamento</label>
        </div>
    </div>
</div>