<div class="giftlist giftlistinfo giftlisttype-3">
    <h3 class="giftlistinfo-title">Lista de Casamento Com Entrega</h3>
    <span style="display:none;" class="giftlistinfo-type-description">Lista de Casamento - Entrega ao Criador da Lista + Com Evento + Sem Mensagem</span>
    <span class="giftlistinfo-description">Bruno Sampaio</span>
    <div class="giftlistinfo-actions">
        <ul class="list-action">
            <li class="action-share"><a href="/giftlistmanager/form/6?KeepThis=true" class="thickbox" id="btnReferAFriend">Divulgar</a></li>
            <li class="admin-only action-edit"><a href="/giftlist/edit?Id=6" title="Editar">Editar</a></li>
            <li class="admin-only action-view"><a href="/list/giftlisttest" title="Visualizar sua Lista">Visualizar sua Lista</a></li>
            <li class="action-buy"><a id="sendtocart-6" href="#" class="buy-button send-to-cart">Comprar todos os Produtos da Lista</a><span class="send-to-cart-confirm" style="display: none !important;">deseja mesmo comprar todos os produtos desta lista?</span></li>
        </ul>
    </div>
    <div class="giftlistinfo-members">
        <ul class="list-members">
            <li class="owner gender-m">
                <ul class="member m-1">
                    <li class="title amigo">Amigo</li>
                    <li class="name"><span>Nome:</span> Bruno</li>
                    <li class="surname"><span>Sobrenome:</span> Sampaio</li>
                </ul>
            </li>
            <li class="gender-unknown">
                <ul class="member m-2">
                    <li class="title amigo">Amigo</li>
                    <li class="name"><span>Nome:</span> Norberto</li>
                    <li class="surname"><span>Sobrenome:</span> Sampaio</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="giftlistinfo-image">
        <img class="giftlistinfo-picture" height="400" width="400" alt="teste mensagem" src="//lilibag.vteximg.com.br/arquivos/ids/155596_48/gl-6_636125653088652755.jpg">
    </div>
    <label for="glmsg">Mensagem</label><span id="glmsg" class="giftlistinfo-message">teste mensagem</span>
    <div class="giftlistinfo-event">
        <span class="event-title">Evento</span>
        <ul class="">
            <li class="location">Itu</li>
            <li class="city state">Itu - SP</li>
            <li class="date">21/12/2016</li>
        </ul>
    </div>
    <div style="display: none;" class="giftlistinfo-event-countdown countdown-week-8">
        <span class="days-info">Faltam</span>
        <span class="days"><strong>62</strong> dias</span>
    </div>
</div>