<div class="giftlist-insertsku-wrapper">
    <span class="hidden-glis-create-url" style="display: none !important;">
        /giftlist/create
    </span>
    <span class="hidden-glis-edit-url" style="display: none !important;">
        /giftlist/product
    </span>
    <span class="hidden-glis-addtoquantity" style="display: none !important;">
        True
    </span>
    <span class="hidden-glis-address-message" style="display: none !important;">
        O Tipo de Lista selecionado requer um endereço de entrega. Você será redirecionado para a criação da lista e retornará para esta página ao concluir o cadastro.
    </span>
    <span class="hidden-glis-address-message-add" style="display: none !important;">
        Todos os Produtos selecionados serão incluidos à sua nova Lista
    </span>
    <span class="hidden-glis-address-message-noadd" style="display: none !important;">
        Você precisará incluir os Produtos após o cadastro de sua nova Lista
    </span>
    <div class="glis-save-template" style="display: none !important;">
        <li class="glis-save-title-new">
            Sua Lista foi criada com sucesso
        </li>
        <li class="glis-save-inserted">
            #quantidade# Produto(s) adicionado(s) à sua Lista
        </li>
        <li class="glis-save-existing">
            #quantidade# Produto(s) selecionado(s) já existia(m) em sua Lista
        </li>
        <li class="glis-save-edit">
            <a class="glis-edit-link" href="/giftlist/manage">
                Clique aqui para gerenciar sua Lista
            </a>
        </li>
    </div>
    <div class="glis-sku-single glis-sku-default">
        <span class="hidden-sku-default" style="display: none !important;">
            341
        </span>
        <input type="text" size="3" class="insert-sku-quantity" maxlength="3" id="isq-16e420d9c9114c9390bcb69dfb1276d7" value="1">
        <span class="glis-sku-single-item" name="16e420d9c9114c9390bcb69dfb1276d7">
            Lixeira de Mesa em Aço 14cm Preta HAILO
        </span>
    </div>
    <div class="ajax-content-loader" rel="/no-cache/GiftListInsertSkuV2.aspx?mode=list&amp;popup=true&amp;types=2,3&amp;return=%2flixeira-de-mesa-em-aco-14cm-preta-hailo%2fp">
        <div class="giftlist-insertsku-popup">
            <a href="javascript:void(0);" class="glis-popup-link-add">
                Selecione um item para poder incluir na lista.
            </a>
            <a id="da83d42cb0ec48c0aa3ab3af017ef23e" href="/no-cache/giftlistv2/getinsertsku/2,3/list?KeepThis=true" class="glis-popup-link glis-thickbox tb-added">
                Adicionar à lista
            </a>
            <span class="glis-flash-quantity-added" style="display: none;">
                +1
            </span>
        </div>
    </div>
</div>