<div class="giftlist giftlist-search">
    <h2 class="glsearch-title">
        Procurar Lista
    </h2>
    <fieldset class="glsearch">
        <form name="giftlistsearchform" id="giftlistsearchform" enctype="multipart/form-data">
            <ul class="giftlistsearchul glsearch-ul">
                <li class="glsearch-type">
                    <span>
                        <label for="giftlistsearchtype">
                            Tipo de Lista
                        </label>
                    </span>
                    <select name="giftlistsearchtype" id="giftlistsearchtype">
                        <option value="x">Todos</option>
                    </select>
                </li>
                <li class="glsearch-id">
                    <span> 
                        <label for="giftlistsearchid">
                            Código da lista
                        </label>
                    </span>
                    <input type="text" id="giftlistsearchid" name="giftlistsearchid" placeholder="código da lista">
                </li>
                <li class="glsearch-name">
                    <span> 
                        <label for="giftlistsearchname">
                            Nome
                        </label>
                    </span>
                    <input type="text" id="giftlistsearchname" name="giftlistsearchname" placeholder="nome">
                </li>
                <li class="glsearch-surname">
                    <span>
                        <label for="giftlistsearchsurname">
                            Sobrenome
                        </label>
                    </span>
                    <input type="text" id="giftlistsearchsurname" name="giftlistsearchsurname" placeholder="sobrenome">
                </li>
                <li class="glsearch-eventlocation">
                    <span>
                        <label for="giftlistsearcheventlocation">
                            Local do Evento
                        </label>
                    </span>
                    <input type="text" id="giftlistsearcheventlocation" name="giftlistsearcheventlocation" placeholder="local do evento">
                </li>
                <li class="glsearch-eventcity optional">
                    <span>
                        <label for="giftlistsearcheventcity">
                            Cidade do Evento
                        </label>
                    </span>
                    <input type="text" id="giftlistsearcheventcity" name="giftlistsearcheventcity" placeholder="cidade do evento">
                </li>
                <li class="glsearch-eventdate optional">
                    <span>
                        <label for="giftlistsearcheventdate">
                            Data do Evento
                        </label>
                    </span>
                    <input type="text" id="giftlistsearcheventdate" name="giftlistsearcheventdate" placeholder="data do evento">
                </li>
                <li class="glsearch-find">
                    <span>
                        <input type="button" name="giftlistsearchfind" id="giftlistsearchfind" value="Buscar" class="btn">
                    </span>
                </li>
            </ul>
            <input type="hidden" id="giftlistsearchimagetypeid" name="giftlistsearchimagetypeid" value="3">
        </form>
    </fieldset>
    <div class="glsearch-result refresh-off" style="display: block;">
        <ul class="summaryWrapper">
            <li class="giftlist-searchresult-empty">
                Não foram encontradas listas com os parâmetros informados.
                <br/>
                Verifique se os campos informados estão corretos.
                <br/>

                <span class="search-result-info">
                    Para uma busca mais relevante:
                    <br/>
                    - Código da Lista dispensa o preenchimento dos outros campos e a busca é direta
                    <br/>
                    - Preencha ao menos um dos campos com no mínimo 3 caracteres ou preencha mais de um campo
                    <br/>
                    - Nome, Sobrenome e Local do Evento (se aplicável) são mais relevantes para o resultado da busca
                </span>
            </li>

        </ul>
    </div>
</div>