<div id="giftliststatistics" class="giftlist giftlliststatistics giftlisttype-3 loading-off refresh-off" style="display: block;">
    <table class="glstat-table">
        <thead>
            <tr class="title">
                <th colspan="2" class="glstat-table-title">Estatísticas</th>
            </tr>
            <tr>
                <th class="glstat-table-itens">Produtos</th>
                <th class="glstat-table-purchased">Comprado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="glstat-table-itens">1</td>
                <td class="glstat-table-purchased">0</td>
            </tr>
        </tbody>
    </table>
    <div class="glstat-additionalinfo">
        <div class="glstat-content">
            <ul>
                <input type="hidden" name="uor" id="uor" value="">
            </ul>
        </div>
    </div>
</div>
