<div class="giftlist-insertsku-wrapper">
    <span class="hidden-glis-create-url" style="display: none !important;">/giftlist/create</span>
    <span class="hidden-glis-edit-url" style="display: none !important;">/giftlist/product</span>
    <span class="hidden-glis-addtoquantity" style="display: none !important;">True</span>
    <span class="hidden-glis-address-message" style="display: none !important;">O Tipo de Lista selecionado requer um endereço de entrega. Você será redirecionado para a criação da lista e retornará para esta página ao concluir o cadastro.</span>
    <span class="hidden-glis-address-message-add" style="display: none !important;">Todos os Produtos selecionados serão incluidos à sua nova Lista</span>
    <span class="hidden-glis-address-message-noadd" style="display: none !important;">Você precisará incluir os Produtos após o cadastro de sua nova Lista</span>
    <div class="glis-save-template" style="display: none !important;">
        <li class="glis-save-title-new">Sua Lista foi criada com sucesso</li>
        <li class="glis-save-inserted">#quantidade# Produto(s) adicionado(s) à sua Lista</li>
        <li class="glis-save-existing">#quantidade# Produto  (s) selecionado(s) já existia(m) em sua Lista</li>
        <li class="glis-save-edit"><a class="glis-edit-link" href="/giftlist/manage">Clique aqui para gerenciar sua Lista</a></li>
    </div>
    <div class="glis-sku-listtolist">
        <input type="checkbox" id="d9a97a6e708c4221ac5bd8f937412f1f" class="glis-listtolist-checkbox" value="164-5,163-5,162-6,156-5,98-2,97-2,96-2,95-2,121-3,120-1,119-1,122-3" addedclick="yes">
        <label class="label-for-listtolist-checkbox" for="d9a97a6e708c4221ac5bd8f937412f1f">Selecionar todos os produtos da Lista <strong>Bruno Sampaio</strong>
        </label>
    </div>
    <div class="ajax-content-loader" rel="/no-cache/GiftListInsertSkuV2.aspx?mode=list&amp;popup=true&amp;types=2,3&amp;return=%2flist%2fgiftlisttest">
        <div class="giftlist-insertsku-popup">
            <a href="javascript:void(0);" class="glis-popup-link-add">Selecione um item para poder incluir na lista.</a>
            <a id="22c87a952cd7487b845c3e3909640653" href="/no-cache/giftlistv2/getinsertsku/2,3/list?KeepThis=true" class="glis-popup-link glis-thickbox tb-added" style="display: none;">Adicionar produtos às suas Listas</a>
            <span class="glis-flash-quantity-added" style="display: none;">+0</span>
        </div>
    </div>
</div>