<div class="giftlistsku">
    <form id="giftlistproduct">
        <input type="hidden" name="gid" id="gid" value="6">
        <input type="hidden" name="iid" id="iid" value="3">
        <input type="hidden" name="pgs" id="pgs" value="10">
        <input type="hidden" name="spu" id="spu" value="true">
        <input type="hidden" name="tts" id="tts" value="0:00.08">
        <div class="giftlistproductsv2-gridwrapper" style="display: block;">
            <div data-bind="simpleGrid: gridViewModel">
                <table class="giftlistproductsv2">
                    <thead>
                        <tr data-bind="foreach: columns">
                            <th data-bind="html: headerText, attr: typeof headerAttr == 'function' ? headerAttr($parent) : headerAttr" colspan="2">Produto</th>
                            <th data-bind="html: headerText, attr: typeof headerAttr == 'function' ? headerAttr($parent) : headerAttr">Preço</th>
                            <th data-bind="html: headerText, attr: typeof headerAttr == 'function' ? headerAttr($parent) : headerAttr">Comprados</th>
                            <th data-bind="html: headerText, attr: typeof headerAttr == 'function' ? headerAttr($parent) : headerAttr">Desejados</th>
                            <th data-bind="html: headerText, attr: typeof headerAttr == 'function' ? headerAttr($parent) : headerAttr">Ações</th>
                            <th data-bind="html: headerText, attr: typeof headerAttr == 'function' ? headerAttr($parent) : headerAttr"><input type="checkbox" class="checkuncheckall"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: itemsOnCurrentPage">
                        <tr data-bind="foreach: $parent.columns">
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="image"><a class="urlproduct" href="/bolsa-de-mao-trico-luxo-rosa/p"><img src="http://lilibag.vteximg.com.br/arquivos/ids/155520-85-85/bolsa-de-mao-trico-luxo-rosa.jpg" width="85" height="85" alt="bolsa-de-mao-trico-luxo-rosa" title=""></a></td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="name"><a class="urlproduct" href="/bolsa-de-mao-trico-luxo-rosa/p">Bolsa de Mão Trico Luxo Rosa</a></td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="price">R$ 224,00</td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="purchased">0</td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="wished"><input type="hidden" class="edittext" value="editar">
                                <input type="hidden" class="savetext" value="salvar">
                                <input id="164" name="164" disabled="disabled" class="giftlistsku-input-wishedamt" size="2" maxlength="3" type="text" value="1">
                                <input type="hidden" class="oldamount">
                                <a href="#" class="inputedit edit">editar</a>
                            </td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="actions"><input type="hidden" class="deleteconfirm" value="Deseja realmente excluir?"><a href="#" class="deletethissku" title="excluir">excluir</a></td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="checkuncheck"><input class="checkuncheckthis" type="checkbox" value="164"></td>
                        </tr>
                        <tr data-bind="foreach: $parent.columns">
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="image"><a class="urlproduct" href="/bolsa-de-mao-trico-luxo-rosa/p"><img src="http://lilibag.vteximg.com.br/arquivos/ids/155520-85-85/bolsa-de-mao-trico-luxo-rosa.jpg" width="85" height="85" alt="bolsa-de-mao-trico-luxo-rosa" title=""></a></td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="name"><a class="urlproduct" href="/bolsa-de-mao-trico-luxo-rosa/p">Bolsa de Mão Trico Luxo Rosa</a></td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="price">R$ 224,00</td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="purchased">0</td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="wished"><input type="hidden" class="edittext" value="editar">
                                <input type="hidden" class="savetext" value="salvar">
                                <input id="164" name="164" disabled="disabled" class="giftlistsku-input-wishedamt" size="2" maxlength="3" type="text" value="1">
                                <input type="hidden" class="oldamount">
                                <a href="#" class="inputedit edit">editar</a>
                            </td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="actions"><input type="hidden" class="deleteconfirm" value="Deseja realmente excluir?"><a href="#" class="deletethissku" title="excluir">excluir</a></td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="checkuncheck"><input class="checkuncheckthis" type="checkbox" value="164"></td>
                        </tr>
                        <tr data-bind="foreach: $parent.columns">
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="image"><a class="urlproduct" href="/bolsa-de-mao-trico-luxo-rosa/p"><img src="http://lilibag.vteximg.com.br/arquivos/ids/155520-85-85/bolsa-de-mao-trico-luxo-rosa.jpg" width="85" height="85" alt="bolsa-de-mao-trico-luxo-rosa" title=""></a></td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="name"><a class="urlproduct" href="/bolsa-de-mao-trico-luxo-rosa/p">Bolsa de Mão Trico Luxo Rosa</a></td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="price">R$ 224,00</td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="purchased">0</td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="wished"><input type="hidden" class="edittext" value="editar">
                                <input type="hidden" class="savetext" value="salvar">
                                <input id="164" name="164" disabled="disabled" class="giftlistsku-input-wishedamt" size="2" maxlength="3" type="text" value="1">
                                <input type="hidden" class="oldamount">
                                <a href="#" class="inputedit edit">editar</a>
                            </td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="actions"><input type="hidden" class="deleteconfirm" value="Deseja realmente excluir?"><a href="#" class="deletethissku" title="excluir">excluir</a></td>
                            <td data-bind="html: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], attr: typeof rowAttr == 'function' ? rowAttr($parent) : rowAttr" class="checkuncheck"><input class="checkuncheckthis" type="checkbox" value="164"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="ko-grid-pageLinks">
                    <span>página:</span>                        <!-- ko foreach: ko.utils.range(0, maxPageIndex) -->                               <a href="#" data-bind="text: $data + 1, click: function() { $root.currentPageIndex($data); KoBindings(); }, css: { selected: $data == $root.currentPageIndex() }" class="selected">1</a> 
                    <a href="#" data-bind="text: $data + 1, click: function() { $root.currentPageIndex($data); KoBindings(); }, css: { selected: $data == $root.currentPageIndex() }" class="">2</a>                 
                </div>
            </div>
        </div>
        <div class="giftlistproductsv2-loading" style="display: none;">
            <span>carregando produtos...</span>
        </div>
        <p class="giftlist-remove-sku">
            <button id="giftlistremovecheckedskus" disabled="disabled" class="btn">Remover Selecionados</button>
        </p>
    </form>
</div>