<div id="giftlistformwrapper" class="giftlist giftlist-form giftlist-create">
    <input type="hidden" id="type-3" value="#1#1#2#0#26/10/2016#19/09/2018#Parceira,Noiva,Amiga,Parceiro,Noivo,Amigo###Lista de Casamento - Entrega ao Criador da Lista + Com Evento + Sem Mensagem#0">
    <input type="hidden" id="type-2" value="#0#1#10#1#19/10/2016#19/10/2016####Lista de Casamento - Entrega ao Criador da Lista + Sem Evento + Sem Mensagem + Unica#0">
    <input type="hidden" name="giftListMsgErro" id="giftListMsgErro" value="Favor corrigir os campos selecionados.">
    <div id="errormessage" class="errormessage">Favor corrigir os campos selecionados.</div>
    <form name="giftlistform" id="giftlistform" enctype="multipart/form-data">
        <div class="basic">
            <fieldset>
                <input type="hidden" name="giftlistredirectpath" id="giftlistredirectpath" value="/giftlist/manage">
                <input type="hidden" name="giftlistid" id="giftlistid" value="">
                <input type="hidden" name="giftlistfileid" id="giftlistfileid" value="">
                <input type="hidden" name="giftlistfilepath" id="giftlistfilepath" value="">
                <input type="hidden" name="giftlistisactive" id="giftlistisactive" value="True">
                <input type="hidden" name="giftlistaddress" id="giftlistaddress" value="">
                <ul class="giftlistul">
                    <li class="giftlisttype chose">
                        <label for="giftlisttype">Tipo de Lista</label>
                        <select name="giftlisttype" id="giftlisttype" previous="3">
                            <option selected="selected" value="3">Lista de Casamento Com Entrega</option>
                            <option value="2">Lista de Casamento v2</option>
                        </select>
                    </li>
                    <li class="description" style="display:none;">
                        <label for="typedescription">Descrição</label>
                        <div id="typedescription" name="typedescription" class="type-description" style="display: block;">Lista de Casamento - Entrega ao Criador da Lista + Com Evento + Sem Mensagem</div>
                    </li>
                    <li class="giftlistname">
                        <label for="giftlistname">Nome da lista</label><input type="text" name="giftlistname" maxlength="300" id="giftlistname" value="" placeholder="nome da lista">
                        <span name="giftlistname-obr" id="giftlistname-obr" class="obr">*</span>
                    </li>
                    <li class="giftlisturl">
                        <label for="giftlisturl">Url da lista</label><span name="giftlisturl-site" id="giftlisturl-site" class="url-site">http://lilibag.vtexcommercestable.com.br/list/</span><input type="text" maxlength="100" name="giftlisturl" id="giftlisturl" placeholder="url da lista" title="http://lilibag.vtexcommercestable.com.br/list/[url da lista]">
                        <span name="giftlisturl-obr" id="giftlisturl-obr" class="obr">*</span>
                    </li>
                    <li class="visibility">
                        <label for="visibility-wrapper">Quem pode ver esta Lista?</label>
                        <span id="visibility-wrapper">
                        <input type="radio" name="giftlistispublic" id="giftlistispublic-no" value="False" checked="">
                        <label for="giftlistispublic-no">somente os participantes desta Lista</label>
                        <br><input type="radio" name="giftlistispublic" id="giftlistispublic-yes" value="True">
                        <label for="giftlistispublic-yes">qualquer pessoa</label>
                        </span>
                    </li>
                </ul>
            </fieldset>
        </div>
        <div class="image">
            <fieldset>
                <ul class="giftlistul">
                    <li id="giftlistimageupload" class="imageupload" style="">
                        <label for="giftlistimage">Upload de foto</label>
                        <div class="photo noimage" name="noimagewrapper" id="noimagewrapper">
                            <input type="file" name="giftlistimage" id="giftlistimage" accept="image/gif, image/jpeg, image/jpg, image/png">
                            <span class="image-upload"><input type="button" name="giftlistupload" id="giftlistupload" value="Enviar Foto" title="Enviar Foto" class="btn"></span>
                        </div>
                    </li>
                    <li id="giftlistimageview" class="imageview" style="display: none;">
                        <label for="giftlistimageload">Foto</label>
                        <div class="photo hasimage" name="hasimagewrapper" id="hasimagewrapper">
                            <img name="giftlistimageload" id="giftlistimageload" src=""><span class="image-remove"><input type="button" name="giftlistremoveimage" id="giftlistremoveimage" value="Remover Foto" title="Remover Foto" class="btn">
                            </span>
                        </div>
                    </li>
                    <li class="giftlistmessage">
                        <label for="giftlistmessage">Mensagem</label><textarea type="text" name="giftlistmessage" id="giftlistmessage"></textarea><span id="messagecharcounter" class="msg-char-counter">1000/1000</span>
                    </li>
                </ul>
            </fieldset>
        </div>
        <div class="event" style="">
            <h2>Evento</h2>
            <fieldset>
                <p class="eventdate-range">de <label class="event-range-min">26/10/2016</label> até <label class="event-range-max">19/09/2018</label></p>
                <ul class="giftlistul">
                    <li class="giftlisteventdate">
                        <label for="giftlisteventdate">Data do evento</label><input type="text" name="giftlisteventdate" id="giftlisteventdate" onblur="dateValidatorOnBlur();" class="giftlisteventdate" value="" title="de  26/10/2016  até  19/09/2018"><span class="obr">*</span>
                    </li>
                    <li class="giftlisteventlocation">
                        <label for="giftlisteventlocation">Local do Evento</label><input type="text" name="giftlisteventlocation" id="giftlisteventlocation" value="" placeholder="local do evento">
                    </li>
                    <li class="giftlisteventcity giftlisteventstate">
                        <label for="giftlisteventcity">Cidade do Evento</label><input type="text" name="giftlisteventcity" id="giftlisteventcity" placeholder="cidade do evento">&nbsp;-&nbsp;
                        <select name="giftlisteventstate" id="giftlisteventstate">
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AM">AM</option>
                            <option value="AP">AP</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MG">MG</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="PR">PR</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="RS">RS</option>
                            <option value="SC">SC</option>
                            <option value="SE">SE</option>
                            <option value="SP">SP</option>
                            <option value="TO">TO</option>
                        </select>
                    </li>
                </ul>
            </fieldset>
        </div>
        <div id="members-box" class="members-box" style="">
            <h2>Membros</h2>
            <p class="member-range">de <label class="member-range-min">1</label> até <label class="member-range-max">2</label></p>
            <fieldset>
                <ul id="gl-members" class="gl-members">
                    <li id="member-li-1" class="giftlismember member-1 gender-male title-undefined member-admin member-owner">
                        <input type="hidden" value="1" id="membernumber1" name="membernumber1">
                        <input type="hidden" value="" id="memberid1" name="memberid1">
                        <input type="hidden" value="" id="memberclientid1" name="memberclientid1">
                        <input type="hidden" value="86d5d074-f9fe-45c3-908a-bab6fba0cefa" id="memberuserid1" name="memberuserid1">
                        <ul class="giftlistul">
                            <li id="title1" class="undefined">
                                <label for="membertitle1">
                                Titulo
                                </label>
                                <select id="membertitle1" name="membertitle1">
                                    <option selected="selected" value="Amigo">Amigo</option>
                                    <option selected="" value="Noivo">Noivo</option>
                                    <option selected="" value="Parceiro">Parceiro</option>
                                    <option selected="" value="Amiga">Amiga</option>
                                    <option selected="" value="Noiva">Noiva</option>
                                    <option selected="" value="Parceira">Parceira</option>
                                </select>
                            </li>
                            <li class="membername1">
                                <label for="membername1">
                                Nome
                                </label>
                                <input type="text" onblur="checkNamesOnBlur(1);" maxlength="100" value="Bruno" id="membername1" name="membername1" placeholder="nome">
                                <span name="membernameobr1" id="membernameobr1" class="obr">
                                *</span> 
                            </li>
                            <li class="membersurname1">
                                <label for="membersurname1">
                                Sobrenome
                                </label>
                                <input type="text" onblur="checkNamesOnBlur(1);" maxlength="100" value="Sampaio" id="membersurname1" name="membersurname1" placeholder="sobrenome">
                                <span name="membersurnameobr1" id="membersurnameobr1" class="obr">
                                *</span> 
                            </li>
                            <li class="membermail1">
                                <label for="membermail1">
                                E-mail
                                </label>
                                <input type="text" maxlength="200" onblur="validateMailOnBlur();" value="bruno.sampaio@topdeals.com.br" id="membermail1" name="membermail1" placeholder="e-mail">
                                <span name="membermailadmin1" id="membermailadmin1" class="obr">
                                *</span> 
                            </li>
                            <li style="display:none;" id="text1member1" class="text1member1 ">
                                <label for="inputtext1member1"></label>
                                <input type="text" maxlength="200" value="" id="inputtext1member1" name="text1member1" placeholder="">
                            </li>
                            <li style="display:none;" id="text2member1" class="text2member1 ">
                                <label for="inputtext2member1"></label>
                                <input type="text" maxlength="200" value="" id="inputtext2member1" name="text2member1" placeholder="">
                            </li>
                            <li style="display:none;" id="isadmin1" class="memberisadmin">
                                <label for="adminwrapper">
                                Pode administrar a lista? <span class="memberisadmin-info" onmouseover="AdminInfoOver(false);" onmouseout="AdminInfoOut(true);">[?]</span>
                                </label>
                                <div id="adminwrapper" class="adminwrapper">
                                    <span style="display:none;" id="adminwrapperno" class="adminwrapperno">
                                    <input type="radio" value="False" id="memberisadmin-no1" onclick="checkAdmin(1,false);" name="memberisadmin1">
                                    Não </span><span style="display:none;" id="adminwrapperyes" class="adminwrapperyes">
                                    <input type="radio" checked="" value="True" id="memberisadmin-yes1" onclick="checkAdmin(1,true);" name="memberisadmin1">
                                    Sim </span>
                                    <input type="hidden" name="memberisactive1" id="memberisactive1" value="True">
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </fieldset>
            <div id="membertemplate" name="membertemplate" style="display:none;" class="do-not-show">
                <li id="member-li-xmcx" class="giftlismember member-xmcx gender-undefined title-undefined member-new">
                    <input type="hidden" value="xmcx" id="membernumberxmcx" name="membernumberxmcx">
                    <input type="hidden" value="" id="memberidxmcx" name="memberidxmcx">
                    <input type="hidden" value="" id="memberclientidxmcx" name="memberclientidxmcx">
                    <input type="hidden" value="" id="memberuseridxmcx" name="memberuseridxmcx">
                    <ul class="giftlistul">
                        <li id="titlexmcx" class="new">
                            <label for="membertitlexmcx">
                            Titulo
                            </label>
                            <select id="membertitlexmcx" name="membertitlexmcx">
                            </select>
                        </li>
                        <li class="membernamexmcx">
                            <label for="membernamexmcx">
                            Nome
                            </label>
                            <input type="text" onblur="checkNamesOnBlur(xmcx);" maxlength="100" value="" id="membernamexmcx" name="membernamexmcx" placeholder="nome">
                            <span name="membernameobrxmcx" id="membernameobrxmcx" class="obr" style="display:none;">
                            *</span> 
                        </li>
                        <li class="membersurnamexmcx">
                            <label for="membersurnamexmcx">
                            Sobrenome
                            </label>
                            <input type="text" onblur="checkNamesOnBlur(xmcx);" maxlength="100" value="" id="membersurnamexmcx" name="membersurnamexmcx" placeholder="sobrenome">
                            <span name="membersurnameobrxmcx" id="membersurnameobrxmcx" class="obr" style="display:none;">
                            *</span> 
                        </li>
                        <li class="membermailxmcx">
                            <label for="membermailxmcx">
                            E-mail
                            </label>
                            <input type="text" maxlength="200" onblur="validateMailOnBlur();" value="" id="membermailxmcx" name="membermailxmcx" placeholder="e-mail">
                            <span name="membermailadminxmcx" id="membermailadminxmcx" class="obr" style="display:none;">
                            *</span> 
                        </li>
                        <li id="text1memberxmcx" class="text1memberxmcx ">
                            <label for="inputtext1memberxmcx">
                            </label>
                            <input type="text" maxlength="200" value="" id="inputtext1memberxmcx" name="text1memberxmcx" placeholder="">
                        </li>
                        <li id="text2memberxmcx" class="text2memberxmcx ">
                            <label for="inputtext2memberxmcx">
                            </label>
                            <input type="text" maxlength="200" value="" id="inputtext2memberxmcx" name="text2memberxmcx" placeholder="">
                        </li>
                        <li style="display:none;" id="isadminxmcx" class="memberisadmin">
                            <label for="adminwrapper">
                            Pode administrar a lista? <span class="memberisadmin-info" onmouseover="AdminInfoOver(false);" onmouseout="AdminInfoOut(true);">[?]</span>
                            </label>
                            <div id="adminwrapper" class="adminwrapper">
                                <span id="adminwrapperno" class="adminwrapperno">
                                <input type="radio" checked="" value="False" id="memberisadmin-noxmcx" onclick="checkAdmin(xmcx,false);" name="memberisadminxmcx">
                                Não </span><span id="adminwrapperyes" class="adminwrapperyes">
                                <input type="radio" value="True" id="memberisadmin-yesxmcx" onclick="checkAdmin(xmcx,true);" name="memberisadminxmcx">
                                Sim </span>
                                <input type="hidden" name="memberisactivexmcx" id="memberisactivexmcx" value="False">
                            </div>
                        </li>
                    </ul>
                </li>
            </div>
            <span class="giftlistmember-add" style="display: inline-block;"><a href="#" id="giftlistmember-add">Incluir Participante</a></span>
            <div id="admin-select" class="isadmin-info admin-select" onmouseover="AdminInfoOver(true);" onmouseout="AdminInfoOut(false);" style="display:none;">
                <p>Cada participante selecionado receberá um e-mail de confirmação com um link para aceitar a participação nesta Lista.</p>
                <p>Será preciso estar cadastrado em nosso site para aceitar o convite e concluir o processo de verificação.<br>Após verificado o cadastro, esta pessoa poderá editar informações desta Lista e incluir produtos, mas <strong>só você</strong> terá permissão para alterar informações dos participantes ou <strong>desativar</strong> a Lista<br>Você poderá retirar o privilégio de administrador de qualquer participante desta Lista a qualquer momento.</p>
                <p>O administrador também poderá desistir deste privilégio, tornando-se apenas mais um participante da Lista. Neste caso, será preciso um novo convite para reaver seu status.</p>
            </div>
        </div>
        <div class="address address-component" style="display: none;">
            <h2>Endereço de entrega</h2>
            <script type="text/javascript" language="javascript">window.giftList='0'; window.addressBaseUrl='';</script>
            <div class="address-component-layover" style="display: none;">
                carregando endereços...
            </div>
            <div id="addresscomponent" class="placeholder-component-address-book">
                <div class="shipping-data address-book">
                    <h3 class="address-book-title">Endereço de entrega</h3>
                    <div class="address-book-body">
                        <div class="address-list">
                            <h4>Escolha o endereço de entrega</h4>
                            <div class="address-list-items">
                                <fieldset>
                                    <div class="address-item">
                                        <p class="input">
                                            <input type="radio" id="edit-deliveryARMANDO RAMOS" value="ARMANDO RAMOS" name="selected-deliveryAddress">
                                            <label for="edit-deliveryARMANDO RAMOS" class="input">
                                                <span class="firstpart">ARMANDO RAMOS, 216, CASA</span><br><span class="secondpart">PORTO FELIZ - SP - BRA</span><!-- ifnot: checkout.isNotUsingPostalCode -->&nbsp; - <span class="postalcode">18540-000</span>
                                            </label>
                                        </p>
                                        <a class="link-box-select" href="javascript:void(0);">Selecionar</a>&nbsp;<span class="link-box-select"><i class="icon-circle-blank"></i></span>
                                    </div>
                                    <div class="address-item active">
                                        <p class="input">
                                            <input type="radio" id="edit-deliveryANTONIO GAZZOLA" value="ANTONIO GAZZOLA" checked="checked" name="selected-deliveryAddress">
                                            <label for="edit-deliveryANTONIO GAZZOLA" class="input">
                                                <span class="firstpart">ANTONIO GAZZOLA, 1001, PREDIO COMERCIAL</span><br><span class="secondpart">ITU - SP - BRA</span><!-- ifnot: checkout.isNotUsingPostalCode -->&nbsp; - <span class="postalcode">13301-916</span>
                                            </label>
                                        </p>
                                        <span class="text-box-selected">Selecionado</span>&nbsp;<span class="link-box-select selected"><i class="icon-ok-circle"></i></span>
                                    </div>
                                </fieldset>
                            </div>
                            <p class="link edit address-edit"><a href="javascript:void(0);"><i class="icon-edit"></i> <span>Modificar endereço selecionado</span></a></p>
                            <p class="link create address-create"><a href="javascript:void(0);"><i class="icon-plus"></i> <span>Entregar em outro endereço</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--[if lt IE 9]>
            <script src='http://io.vtex.com.br/front-libs/libs/es5-shim/es5-shim.js'></script>
            <script src='http://io.vtex.com.br/front-libs/libs/es5-shim/es5-sham.js'></script>
            <![endif]-->
            <div class="component-address-book-debug" style="display: none !important;"></div>
        </div>
        <div class="therms-area">
            <h2>Regulamento</h2>
            <div class="therms-text">
                Regulamento da Lista
            </div>
            <div id="therms-accept" class="therms-accept">
                <input type="checkbox" name="giftlistaccept" id="giftlistaccept">
                <label for="giftlistaccept">Li e estou de acordo com o regulamento</label>
            </div>
        </div>
        <div class="action-area">
            <ul class="form-action">
                <li class="cancel">
                    <input type="hidden" name="giftlistv2cancelmessage" id="giftlistv2cancelmessage" value="Deseja realmente abandonar esta página? Todas as alterações não salvas serão perdidas.">
                    <input type="button" name="giftlistv2cancel" id="giftlistv2cancel" title="Cancelar" value="Cancelar" class="button giftlistv2cancel btn">
                </li>
                <li class="save">
                    <input type="button" name="giftlistv2save" id="giftlistv2save" title="Salvar" value="Salvar" class="button giftlistv2save btn">
                </li>
            </ul>
        </div>
    </form>
</div>
