<div class="other-payment-method-content">
    <div class="other-payment-method">
        <span class="titulo-parcelamento">
            Opções de Parcelamento:
        </span>
        <ul class="other-payment-method-ul">
            <li class="other-payment-method-American Express-à vista #ParcelamentoPreco#">
                à vista R$ 85,95
                <span class="other-payment-method-intereset-no"></span>
            </li>
            <li class="other-payment-method-American Express-2">
                <span>
                    2X de
                </span>
                <strong>
                    R$ 42,97
                </strong>
                <span class="other-payment-method-intereset-no">
                    sem juros
                </span>
            </li>
            <li class="other-payment-method-American Express-3">
                <span>
                    3X de
                </span>
                <strong>
                    R$ 28,65
                </strong>
                <span class="other-payment-method-intereset-no">
                    sem juros
                </span>
            </li>
            <li class="other-payment-method-American Express-4">
                <span>
                    4X de
                </span>
                <strong>
                    R$ 21,48
                </strong>
                <span class="other-payment-method-intereset-no">
                    sem juros
                </span>
            </li>
            <li class="other-payment-method-American Express-5">
                <span>
                    5X de
                </span>
                <strong>
                    R$ 17,19
                </strong>
                <span class="other-payment-method-intereset-no">
                    sem juros
                </span>
            </li>
            <li class="other-payment-method-American Express-6">
                <span>
                    6X de
                </span>
                <strong>
                    R$ 14,32
                </strong>
                <span class="other-payment-method-intereset-no">
                    sem juros
                </span>
            </li>
        </ul>
        <a class="see-other-payment-method-link" href="javascript:void(0)" onclick="window.open('http://vestcasa.vtexcommercestable.com.br/productotherpaymentsystems/1278016516','FormaPagamento','width=450,height=500,scrollbars=1')">
            Outras formas de pagamento
        </a>
    </div>
</div>
<div class="wrapper">
    <input type="hidden" id="sellerOptionSetting" value="3,3">
    <div class="sellerOptions">
        <!-- there's only one seller for the stock keeping unity 1806223483 -->
    </div>
</div>