<div class="fn productName  Gancho-para-Porta-e-Gaveta-RED-PEPPER-WENKO ">
	Gancho para Porta e Gaveta RED PEPPER WENKO
</div>
<input id="___rc-p-id" type="hidden" value="257">
<input id="___rc-p-dv-id" type="hidden" value="49">
<input id="___rc-p-sku-ids" type="hidden" value="257">
<input id="___rc-p-kit-ids" type="hidden" value="">