<div id="caracteristicas">
    <h4 class="group Especificacoes">
        Especificações
    </h4>
    <table cellspacing="0" class="group Especificacoes">
        <tbody>
            <tr>
                <th class="name-field Estrutura-e-varetas">
                    Estrutura e varetas
                </th>
                <td class="value-field Estrutura-e-varetas">
                    Alumínio anodizado natural
                </td>
            </tr>
            <tr class="even">
                <th class="name-field Cobertura">
                    Cobertura
                </th>
                <td class="value-field Cobertura">
                    Tecido olefin. Proteção UPF 50+
                </td>
            </tr>
            <tr>
                <th class="name-field Acessorios">
                    Acessórios
                </th>
                <td class="value-field Acessorios">
                    Capa de Proteção Para Ombrelone Central GG / Lateral G (vendida separadamente)
                    <br/>
                    Mesa de Apoio para Ombrelone (vendida separadamente)
                </td>
            </tr>
            <tr class="even">
                <th class="name-field Velocidade-max-de-vento-admitida">
                    Velocidade máx. de vento admitida
                </th>
                <td class="value-field Velocidade-max-de-vento-admitida">
                    70 km/h (ombrelone aberto)
                </td>
            </tr>
            <tr>
                <th class="name-field Peso-Liquido">
                    Peso Líquido
                </th>
                <td class="value-field Peso-Liquido">
                    12,1kg
                </td>
            </tr>
            <tr class="even">
                <th class="name-field Peso-Bruto">
                    Peso Bruto
                </th>
                <td class="value-field Peso-Bruto">
                    14,3kg
                </td>
            </tr>
            <tr>
                <th class="name-field Dimensional-da-embalagem">
                    Dimensional da embalagem
                </th>
                <td class="value-field Dimensional-da-embalagem">
                    AXLXP 28x181x28cm
                </td>
            </tr>
            <tr class="even">
                <th class="name-field Marca">
                    Marca
                </th>
                <td class="value-field Marca">
                    GLATZ
                </td>
            </tr>
            <tr>
                <th class="name-field Conteudo-da-embalagem">
                    Conteúdo da embalagem
                </th>
                <td class="value-field Conteudo-da-embalagem">
                    01 ombrelone
                </td>
            </tr>
            <tr class="even">
                <th class="name-field Atencao">
                    Atenção
                </th>
                <td class="value-field Atencao">
                    Esse produto não acompanha base. Adquira separadamente a Base móvel Ibiza Concreto 50kg, Base Granito Dallas 90kg e a Base Fixa Strong.
                </td>
            </tr>
        </tbody>
    </table>
</div>