<div class="apresentacao">
    <div id="setaThumbs"></div>
    <div id="show">
        <div id="include">
            <div id="image" productindex="0">
                <a class="image-zoom" href="http://baherimports.vteximg.com.br/arquivos/ids/160743-1000-1000/xadrez.jpg" rel="undefined" title="" style="outline-style: none; text-decoration: none;">
                    <div class="zoomPad">
                        <img id="image-main" src="http://baherimports.vteximg.com.br/arquivos/ids/160743-703-703/xadrez.jpg" productindex="0" class="sku-rich-image-main" title="" style="opacity: 1;">
                        <div class="zoomPup" style="top: -1px; left: -1px; width: 210px; height: 210px; position: absolute; border-width: 1px; display: none;"></div>
                        <div class="zoomWindow" style="position: absolute; z-index: 5001; left: 713px; top: 0px; display: none;">
                            <div class="zoomWrapper" style="width: 300px;">
                                <div class="zoomWrapperTitle" style="width: 100%; position: absolute; display: none;"></div>
                                <div class="zoomWrapperImage" style="width: 100%; height: 300px;">
                                    <img src="http://baherimports.vteximg.com.br/arquivos/ids/160743-1000-1000/xadrez.jpg" style="position: absolute; border: 0px; display: block; left: 0px; top: 0px;">
                                </div>
                            </div>
                        </div>
                        <div class="zoomPreload" style="visibility: hidden; top: 351.5px; left: -600px; position: absolute;"></div>
                    </div>
                </a>
            </div>
        </div>
        <ul class="thumbs">
            <li>
                <a id="botaoZoom" href="javascript:void(0);" title="Zoom" rel="http://baherimports.vteximg.com.br/arquivos/ids/160743-703-703/xadrez.jpg" zoom="http://baherimports.vteximg.com.br/arquivos/ids/160743-1000-1000/xadrez.jpg" class="ON">
                    <img src="http://baherimports.vteximg.com.br/arquivos/ids/160743-85-85/xadrez.jpg" title="Kit-Enxoval-Colcha-Queen-5-Pecas-170-Fios-Xadrez" alt="Kit-Enxoval-Colcha-Queen-5-Pecas-170-Fios-Xadrez">
                </a>
            </li>
            <li>
                <a id="botaoZoom" href="javascript:void(0);" title="Zoom" rel="http://baherimports.vteximg.com.br/arquivos/ids/160743-703-703/xadrez.jpg" zoom="http://baherimports.vteximg.com.br/arquivos/ids/160743-1000-1000/xadrez.jpg" class="ON">
                    <img src="http://baherimports.vteximg.com.br/arquivos/ids/160743-85-85/xadrez.jpg" title="Kit-Enxoval-Colcha-Queen-5-Pecas-170-Fios-Xadrez" alt="Kit-Enxoval-Colcha-Queen-5-Pecas-170-Fios-Xadrez">
                </a>
            </li>
            <li>
                <a id="botaoZoom" href="javascript:void(0);" title="Zoom" rel="http://baherimports.vteximg.com.br/arquivos/ids/160743-703-703/xadrez.jpg" zoom="http://baherimports.vteximg.com.br/arquivos/ids/160743-1000-1000/xadrez.jpg" class="ON">
                    <img src="http://baherimports.vteximg.com.br/arquivos/ids/160743-85-85/xadrez.jpg" title="Kit-Enxoval-Colcha-Queen-5-Pecas-170-Fios-Xadrez" alt="Kit-Enxoval-Colcha-Queen-5-Pecas-170-Fios-Xadrez">
                </a>
            </li>
        </ul>
    </div>
</div>