<div class="productDescription">
	<strong>
		Aliança Prata de Namoro AL02 Com Zircônia- Par
	</strong>
	<br/>
	<br/>
	A Aliança Prata de Namoro AL02 Com Zircônia- Par é confeccionada em Prata de aproximadamente 5,03G* cada. Possui o formato anatômico e chato, com o trabalho fosco e friso, com a largura de 5,73mm* cada e espessura de 1,7mm*cada, a aliança feminina tem pedra de Zircônia. É o par de alianças de compromisso ideal para demostrar fidelidade e seriedade do Namoro.
	<br/>
	E aqui na Rosana Joias você encontra diversos modelos!
	<br/>
	<br/>
	<br/>
	*Peso aproximado podendo ter uma pequena variação, devido ao tamanho do aro escolhido.
	<br/>
	<br/>
	Dicas de Conservação:
	<br/>
	<br/>
	Para deixar sua joia sempre linda e brilhante evite contatos com, produtos de limpeza, produtos químicos, cloro de piscina, evitar tomar banho com ela, devido aos produtos químicos (shampoo e sabonete), e contato com suor. Essas substâncias tornam a peça opaca e diminuem seu brilho.
	<br/>
	Recomendamos polir sua peça anualmente, para realçar o brilho e tirar os riscos superficiais.
</div>