<div class="main">
    <p class="searchResultsTime">
        <span class="resultado-busca-numero">
            <span class="label">Produtos encontrados:</span> 
            <span class="value">77</span>
        </span>
        <span class="resultado-busca-termo">
            <span class="label">Resultado da Pesquisa por:</span> 
            <strong class="value"></strong>
        </span>
        <span class="resultado-busca-tempo"> 
            <span class="label">em</span> 
            <span class="value">37 ms</span>
        </span>
    </p>
    <div class="sub">
        <div class="resultado-busca-filtro">
            <fieldset class="orderBy">
                <label>Ordenar por:</label>
                <select id="O">
                    <option value="">Selecione</option>
                    <option value="OrderByPriceASC">Menor Preço</option>
                    <option value="OrderByPriceDESC">Maior Preço</option>
                    <option value="OrderByTopSaleDESC">Mais vendidos</option>
                    <option value="OrderByReviewRateDESC">Melhores avaliações</option>
                    <option value="OrderByNameASC">A - Z</option>
                    <option value="OrderByNameDESC">Z - A</option>
                    <option value="OrderByReleaseDateDESC">Data de lançamento</option>
                    <option value="OrderByBestDiscountDESC">Melhor Desconto</option>
                </select>
            </fieldset>
            <fieldset class="filterBy">
                Itens por página:
                <select id="PS">
                    <option selected="selected" value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                    <option value="48">48</option>
                </select>
            </fieldset>
            <p class="compare">Produtos selecionados para comparar: <strong><span class="compare-selection-count" id="NumeroSuperior">0</span></strong><a title="Comparar" class="btn-comparar" href="#">Comparar</a></p>
        </div>
    </div>
    <div class="vitrine resultItemsWrapper">
        <div class="pager top">
            <ul class="pages">
                <li class="first pgEmpty">primeiro</li>
                <li class="previous pgEmpty">anterior</li>
                <li class="page-number pgCurrent">1</li>
                <li class="page-number">2</li>
                <li class="page-number">3</li>
                <li class="page-number">4</li>
                <li class="page-number">5</li>
                <li class="next">próximo</li>
                <li class="last">último</li>
            </ul>
        </div>
        <div id="ResultItems_57938417" class="">
            <div class="n3colunas">
                <ul>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                </ul>
                <ul>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                </ul>
                <ul>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                </ul>
                <ul>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                    <li>
                        <vtex:template id="td-shelf" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="pager bottom">
            <ul class="pages">
                <li class="first pgEmpty">primeiro</li>
                <li class="previous pgEmpty">anterior</li>
                <li class="page-number pgCurrent">1</li>
                <li class="page-number">2</li>
                <li class="page-number">3</li>
                <li class="page-number">4</li>
                <li class="page-number">5</li>
                <li class="next">próximo</li>
                <li class="last">último</li>
            </ul>
        </div>
    </div>
    <p class="searchResultsTime">
        <span class="resultado-busca-numero">
            <span class="label">Produtos encontrados:</span> 
            <span class="value">77</span>
        </span>
        <span class="resultado-busca-termo"> 
            <span class="label">Resultado da Pesquisa por:</span> 
            <strong class="value"></strong>
        </span>
        <span class="resultado-busca-tempo"> 
            <span class="label">em</span> 
            <span class="value">37 ms</span>
        </span>
    </p>
    <div class="sub">
        <div class="resultado-busca-filtro">
            <fieldset class="orderBy">
                <label>Ordenar por:</label>
                <select id="O">
                    <option value="">Selecione</option>
                    <option value="OrderByPriceASC">Menor Preço</option>
                    <option value="OrderByPriceDESC">Maior Preço</option>
                    <option value="OrderByTopSaleDESC">Mais vendidos</option>
                    <option value="OrderByReviewRateDESC">Melhores avaliações</option>
                    <option value="OrderByNameASC">A - Z</option>
                    <option value="OrderByNameDESC">Z - A</option>
                    <option value="OrderByReleaseDateDESC">Data de lançamento</option>
                    <option value="OrderByBestDiscountDESC">Melhor Desconto</option>
                </select>
            </fieldset>
            <fieldset class="filterBy">
                Itens por página:
                <select id="PS">
                    <option selected="selected" value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                    <option value="48">48</option>
                </select>
            </fieldset>
            <p class="compare">
                Produtos selecionados para comparar: 
                <strong>
                    <span class="compare-selection-count" id="NumeroSuperior">0</span>
                </strong>
                <a title="Comparar" class="btn-comparar" href="#">Comparar</a>
            </p>
        </div>
    </div>
</div>