<div class="navigation-tabs">
    <div class="menu-departamento">
        <span class="rt"></span>
        <span class="rb"></span>
        <div>
            <div class="menu-navegue">
                <a title="Navegue" class="search-navigator-tab tab-navegue-ativo" href="#">
                    Navegue
                </a>
                <a title="Refinar Resultado" class="search-navigator-tab tab-refinar" href="#">
                    Refinar Resultado
                </a>
            </div>
            <div class="search-multiple-navigator" style="display: none;">
                <h3 class="brinquedos">
                    <span></span>
                    <a href="http://www.mpbrinquedos.com.br/brinquedos" title="Brinquedos">
                        Brinquedos
                    </a>
                </h3>
                <h4 class="brinquedos">
                    <span></span>
                    <a href="http://www.mpbrinquedos.com.br/brinquedos" title="Brinquedos">
                        Brinquedos
                    </a>
                </h4>
                <a title="Refinar Resultado" class="bt-refinar search-filter-button even" href="#">
                    Refinar Resultado
                </a>
                <fieldset class="refino-marca even">
                    <h5 class="even">
                        Marca
                    </h5>
                    <div class="">
                        <label>
                            <input rel="fq=B:586436376" class="multi-search-checkbox" type="checkbox" name="586436376" value="586436376">
                            ALGAZARRA (6)
                        </label>
                        <label>
                            <input rel="fq=B:1429134728" class="multi-search-checkbox" type="checkbox" name="1429134728" value="1429134728">
                            ALLIGRA (4)
                        </label>
                        <label>
                            <input rel="fq=B:2009014723" class="multi-search-checkbox" type="checkbox" name="2009014723" value="2009014723">
                            APOLO (7)
                        </label>
                        <label>
                            <input rel="fq=B:1240297594" class="multi-search-checkbox" type="checkbox" name="1240297594" value="1240297594">
                            ARCOM (3)
                        </label>
                        <label>
                            <input rel="fq=B:718815295" class="multi-search-checkbox" type="checkbox" name="718815295" value="718815295">
                            BABY BRINK (18)
                        </label>
                        <label>
                            <input rel="fq=B:1698490905" class="multi-search-checkbox" type="checkbox" name="1698490905" value="1698490905">
                            BAMBOLA (5)
                        </label>
                        <label>
                            <input rel="fq=B:643174623" class="multi-search-checkbox" type="checkbox" name="643174623" value="643174623">
                            BANDEIRANTE (8)
                        </label>
                        <label>
                            <input rel="fq=B:1572040691" class="multi-search-checkbox" type="checkbox" name="1572040691" value="1572040691">
                            BANDERMAS (20)
                        </label>
                        <label>
                            <input rel="fq=B:1309975061" class="multi-search-checkbox" type="checkbox" name="1309975061" value="1309975061">
                            BH TOY (1)
                        </label>
                        <label>
                            <input rel="fq=B:494054504" class="multi-search-checkbox" type="checkbox" name="494054504" value="494054504">
                            BIG STAR (20)
                        </label>
                        <label>
                            <input rel="fq=B:227920181" class="multi-search-checkbox" type="checkbox" name="227920181" value="227920181">
                            BRASKIT (7)
                        </label>
                        <label>
                            <input rel="fq=B:901506334" class="multi-search-checkbox" type="checkbox" name="901506334" value="901506334">
                            BRINQUE MIX (1)
                        </label>
                        <label>
                            <input rel="fq=B:717545668" class="multi-search-checkbox" type="checkbox" name="717545668" value="717545668">
                            BS TOYS (2)
                        </label>
                        <label>
                            <input rel="fq=B:1218971800" class="multi-search-checkbox" type="checkbox" name="1218971800" value="1218971800">
                            BUBA TOYS (41)
                        </label>
                        <label>
                            <input rel="fq=B:218694854" class="multi-search-checkbox" type="checkbox" name="218694854" value="218694854">
                            DICAN (14)
                        </label>
                        <label>
                            <input rel="fq=B:2096095608" class="multi-search-checkbox" type="checkbox" name="2096095608" value="2096095608">
                            DISMAT (9)
                        </label>
                        <label>
                            <input rel="fq=B:816257095" class="multi-search-checkbox" type="checkbox" name="816257095" value="816257095">
                            FRESO (1)
                        </label>
                        <label>
                            <input rel="fq=B:1989271497" class="multi-search-checkbox" type="checkbox" name="1989271497" value="1989271497">
                            FUN (20)
                        </label>
                        <label>
                            <input rel="fq=B:145602265" class="multi-search-checkbox" type="checkbox" name="145602265" value="145602265">
                            GROW (179)
                        </label>
                        <label>
                            <input rel="fq=B:1902447513" class="multi-search-checkbox" type="checkbox" name="1902447513" value="1902447513">
                            GULLIVER (14)
                        </label>
                        <label>
                            <input rel="fq=B:938482772" class="multi-search-checkbox" type="checkbox" name="938482772" value="938482772">
                            HASBRO (537)
                        </label>
                        <label>
                            <input rel="fq=B:1186216922" class="multi-search-checkbox" type="checkbox" name="1186216922" value="1186216922">
                            HEMITOYS (1)
                        </label>
                    </div>
                </fieldset>
                <fieldset class="refino Especificações">
                    <h5 class="  Especificações">
                        GÊNERO
                    </h5>
                    <div class="">
                        <label>
                            <input rel="fq=specificationFilter_53:MENINAS" class="multi-search-checkbox" type="checkbox" name="MENINAS" value="MENINAS">
                            MENINAS (3128)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_53:MENINOS+E+MENINAS" class="multi-search-checkbox" type="checkbox" name="MENINOS+E+MENINAS" value="MENINOS E MENINAS">
                            MENINOS E MENINAS (1727)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_53:MENINOS" class="multi-search-checkbox" type="checkbox" name="MENINOS" value="MENINOS">
                            MENINOS (3288)
                        </label>
                    </div>
                </fieldset>
                <fieldset class="refino even Especificações">
                    <h5 class="even Especificações">
                        PERSONAGEM
                    </h5>
                    <div class="">
                        <label>
                            <input rel="fq=specificationFilter_57:ANGRY+BIRDS" class="multi-search-checkbox" type="checkbox" name="ANGRY+BIRDS" value="ANGRY BIRDS">
                            ANGRY BIRDS (6)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_57:BABY+ALIVE" class="multi-search-checkbox" type="checkbox" name="BABY+ALIVE" value="BABY ALIVE">
                            BABY ALIVE (56)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_57:BARBIE" class="multi-search-checkbox" type="checkbox" name="BARBIE" value="BARBIE">
                            BARBIE (181)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_57:BATMAN" class="multi-search-checkbox" type="checkbox" name="BATMAN" value="BATMAN">
                            BATMAN (79)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_57:BEN+10" class="multi-search-checkbox" type="checkbox" name="BEN+10" value="BEN 10">
                            BEN 10 (6)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_57:BIG+HERO" class="multi-search-checkbox" type="checkbox" name="BIG+HERO" value="BIG HERO">
                            BIG HERO (2)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_57:BOB+ESPONJA" class="multi-search-checkbox" type="checkbox" name="BOB+ESPONJA" value="BOB ESPONJA">
                            BOB ESPONJA (26)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_57:CALL+OF+DUTY" class="multi-search-checkbox" type="checkbox" name="CALL+OF+DUTY" value="CALL OF DUTY">
                            CALL OF DUTY (9)
                        </label>
                    </div>
                </fieldset>
                <fieldset class="refino Especificações">
                    <h5 class="Especificações">
                        IDADE
                    </h5>
                    <div class="">
                        <label>
                            <input rel="fq=specificationFilter_58:0+A+12+MESES" class="multi-search-checkbox" type="checkbox" name="0+A+12+MESES" value="0 A 12 MESES">
                            0 A 12 MESES (143)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_58:1+A+2+ANOS" class="multi-search-checkbox" type="checkbox" name="1+A+2+ANOS" value="1 A 2 ANOS">
                            1 A 2 ANOS (492)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_58:2+-+4+ANOS" class="multi-search-checkbox" type="checkbox" name="2+-+4+ANOS" value="2 - 4 ANOS">
                            2 - 4 ANOS (3121)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_58:5+-+7+ANOS" class="multi-search-checkbox" type="checkbox" name="5+-+7+ANOS" value="5 - 7 ANOS">
                            5 - 7 ANOS (3279)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_58:8+-+11+ANOS" class="multi-search-checkbox" type="checkbox" name="8+-+11+ANOS" value="8 - 11 ANOS">
                            8 - 11 ANOS (1050)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_58:12+ANOS+OU+MAIS" class="multi-search-checkbox" type="checkbox" name="12+ANOS+OU+MAIS" value="12 ANOS OU MAIS">
                            12 ANOS OU MAIS (358)
                        </label>
                    </div>
                </fieldset>
                <fieldset class="refino even Especificações">
                    <h5 class="even Especificações">
                        Nº DE PEÇAS
                    </h5>
                    <div class="">
                        <label>
                            <input rel="fq=specificationFilter_59:150+PE%c3%87AS" class="multi-search-checkbox" type="checkbox" name="150+PE%c3%87AS" value="150 PEÇAS">
                            150 PEÇAS (7)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_59:60+PE%c3%87AS" class="multi-search-checkbox" type="checkbox" name="60+PE%c3%87AS" value="60 PEÇAS">
                            60 PEÇAS (20)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_59:500+PE%c3%87AS" class="multi-search-checkbox" type="checkbox" name="500+PE%c3%87AS" value="500 PEÇAS">
                            500 PEÇAS (38)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_59:30+PE%c3%87AS" class="multi-search-checkbox" type="checkbox" name="30+PE%c3%87AS" value="30 PEÇAS">
                            30 PEÇAS (6)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_59:1000+PE%c3%87AS" class="multi-search-checkbox" type="checkbox" name="1000+PE%c3%87AS" value="1000 PEÇAS">
                            1000 PEÇAS (22)
                        </label>
                        <label>
                            <input rel="fq=specificationFilter_59:100+PE%c3%87AS" class="multi-search-checkbox" type="checkbox" name="100+PE%c3%87AS" value="100 PEÇAS">
                            100 PEÇAS (17)
                        </label>
                    </div>
                </fieldset>
                <fieldset class="refino">
                    <h5 class=" ">
                        Faixa de preço
                    </h5>
                    <div class="">
                        <label>
                            <input rel="fq=P:%5b0.01+TO+49.99%5d" class="multi-search-checkbox" type="checkbox" name="%5b0.01+TO+49.99%5d" value="[0.01 TO 49.99]">
                            até 49,99 (1268)
                        </label>
                        <label>
                            <input rel="fq=P:%5b50+TO+99.99%5d" class="multi-search-checkbox" type="checkbox" name="%5b50+TO+99.99%5d" value="[50 TO 99.99]">
                            de 50,00 a 99,99 (939)
                        </label>
                        <label>
                            <input rel="fq=P:%5b100+TO+149.99%5d" class="multi-search-checkbox" type="checkbox" name="%5b100+TO+149.99%5d" value="[100 TO 149.99]">
                            de 100,00 a 149,99 (381)
                        </label>
                        <label>
                            <input rel="fq=P:%5b150+TO+199.99%5d" class="multi-search-checkbox" type="checkbox" name="%5b150+TO+199.99%5d" value="[150 TO 199.99]">
                            de 150,00 a 199,99 (317)
                        </label>
                        <label>
                            <input rel="fq=P:%5b200+TO+299.99%5d" class="multi-search-checkbox" type="checkbox" name="%5b200+TO+299.99%5d" value="[200 TO 299.99]">
                            de 200,00 a 299,99 (179)
                        </label>
                        <label>
                            <input rel="fq=P:%5b300+TO+100000%5d" class="multi-search-checkbox" type="checkbox" name="%5b300+TO+100000%5d" value="[300 TO 100000]">
                            300,00 ou mais (142)
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="search-single-navigator" style="display:block">
                <h5 class="Hide Cor">
                    Cor
                </h5>
                <ul class="Cor">
                    <li>
                        <a href="" title="Azul">
                            Azul (147)
                        </a>
                    </li>
                    <li>
                        <a href="" title="Bege">
                            Bege (1)
                        </a>
                    </li>
                    <li>
                        <a href="" title="Branca">
                            Branca (20)
                        </a>
                    </li>
                    <li>
                        <a href="" title="Jeans">
                            Jeans (179)
                        </a>
                    </li>
                    <li>
                        <a href="" title="Marinho">
                            Marinho (14)
                        </a>
                    </li>
                    <li>
                        <a href="" title="Preta">
                            Preta (537)
                        </a>
                    </li>
                    <li>
                        <a href="" title="Preto e Branco">
                            Preto e Branco (1)
                        </a>
                    </li>
                    <li>
                        <a href="" title="Rosa">
                            Rosa (7)
                        </a>
                    </li>
                    <li>
                        <a href="" title="Vermelha">
                            Vermelha (60)
                        </a>
                    </li>
                </ul>
                <h5 class="Hide Preco">
                    Preço
                </h5>
                <ul class="Preco">
                    <li>
                        <a href="">
                            R$100,00 - R$199,99
                        </a>
                    </li>
                    <li>
                        <a href="">
                            R$300,00 - R$399,99
                        </a>
                    </li>
                    <li>
                        <a href="">
                            R$400,00 e acima
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>