<div class="plugin-preco">
    <div class="productPrice">
        <p class="descricao-preco">
        	<em class="valor-de price-list-price" style="display: block;">
        		De:
        		<strong class="skuListPrice">
        			R$ 1.139,95
        		</strong>
        	</em>
        	<em class="valor-por price-best-price" style="display: block;">
        		Por:
        		<strong class="skuBestPrice">
        			R$ 1.085,00
        		</strong>
        	</em>
        	<em class="valor-dividido price-installments" style="display: block;">
        		<span>
        			<span>
        				<label class="skuBestInstallmentNumber">
        					6
        					<span class="x">
        						x
        					</span>
        				</label>
        				de
        			</span>
        			<strong>
        				<label class="skuBestInstallmentValue">
        					R$ 14,32
        				</label>
        			</strong>
        		</span>
        	</em>
        </p>
        <p class="preco-a-vista price-cash" style="display: block;">
        	Preço a vista:
        	<strong class="skuPrice">
        		R$ 85,95
        	</strong>
        </p>
        <em class="economia-de">
        	Economia de
        	<span class="economia">
        		R$ 54,00
        	</span>
        </em>
    </div>
</div>