<!-- t0pd3alS -->
<div class="ajax-content-loader" rel="/no-cache/user/welcome">
    <p class="welcome">
        Bem-vindo!
        <em>
            <a id="login">
                Já é cadastrado?
            </a>
        </em>
    </p>
</div>

<!-- <div class="ajax-content-loader" rel="/no-cache/user/welcome">
    <p class="welcome">
        Minha conta 
        <a href="/no-cache/user/logout">
            Sair
        </a>
    </p>
</div> -->