<div class="comboCollection" id="collection_{{ collections.id }}">
	<h1>
		{{ collections.name }}
	</h1>
	<div class="comboRender">
		<ul>
			<li>
				<vtex:template id="td-shelfv2" />
			</li>
			<li>
				<vtex:template id="td-shelfv2" />
			</li>
			<li>
				<vtex:template id="td-shelfv2" />
			</li>
			<li>
				<vtex:template id="td-shelfv2" />
			</li>
		</ul>
	</div>
	<button id="button_{{ collections.id }}" class="moreOffers" data-id="{{ collections.id }}" data-query="{{ collections.query }}" data-order="{{ collections.order }}" data-page="{{ collections.page }}" data-quantity="{{ collections.quantity }}" data-columns="{{ collections.columns }}" data-layout="{{ layout }}">
		<strong>
			Veja Mais Ofertas
		</strong>
		<span>
			<img src="/arquivos/combo-loader.gif" />
		</span>
	</button>
</div>