<div class="col-mn-3">
	<div class="shelfv1">
		<a href="{{ productLink }}" id="product_{{ productId }}">
			<div class="shelfInfo">
				<div class="col-mn-12">
					<h6>
						{{ productName }}
					</h6>
					<div class="row">
						<div class="col-mn-7">
							<p>
								<span>
								{{ productInfo.span }}
								</span>
								<i>R$ </i><b>{{ productInfo.b }}</b><i>{{ productInfo.i }}</i>
								<strong>
									{{ productInfo.strong }}
								</strong>
							</p>
						</div>
						<div class="col-mn-5">
							<button>
								{{ productInfo.button }}
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="shelfImage">
				<img src="{{ productImage }}" />
			</div>
		</a>
	</div>
</div>