<div class="shelfV2 preRender">
	<div class="shelfImage">
		<div class="shelfDiscount">
			<p>
				<i class="fa fa-arrow-down" aria-hidden="true"></i>
				00%
			</p>
		</div>
		<img src="/arquivos/image-shelf-02.jpg" />
	</div>
	<div class="shelfInfo">
		<h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</h3>
		<div class="freeShipping">
			<p>
				Lorem ipsum
			</p>
		</div>
		<div class="shelfPrice">
			<p>
				<i>DE:R$ 000,00</i> POR:
				<span>
					<strong>R$ 000,00</strong> no boleto
				</span>
				ou <b>00X de R$ 00,00</b> sem juros
			</p>
		</div>
		<button>
			<i class="fa fa-plus" aria-hidden="true"></i>
			Detalhes
		</button>
	</div>
</div>