@charset "UTF-8";

/*
** CLASS PARA RESET
*******/
$resetClass	: 'comboCampaign';

/*
** SIZE FUNCTION
*******/
@function size($size) {
	
	@return #{($size / 16)}rem;
}

/*
** INSTANCE MIXIN
*******/
@mixin instance($css) {
	
	@each $element, $values in $css {

		@if $element != property or $element != hover or $element != before or $element != after {

			#{$element} {
			
				@if (type-of($values) == map) {

					@if map-get($values, property) {

						@each $sProperty, $sValue in map-get($values, property) {

							#{$sProperty} : #{$sValue} !important;
						}
					}

					@if map-get($values, hover) {

						@each $sProperty, $sValue in map-get($values, hover) {

							&:hover {

								#{$sProperty} : #{$sValue} !important;
							}
						}
					}

					@if map-get($values, before) {

						@each $sProperty, $sValue in map-get($values, before) {

							&:before {

								#{$sProperty} : #{$sValue} !important;
							}
						}
					}

					@if map-get($values, after) {

						@each $sProperty, $sValue in map-get($values, after) {

							&:after {

								#{$sProperty} : #{$sValue} !important;
							}
						}
					}

					@if map-get($values, property) != property or map-get($values, hover) != hover or map-get($values, before) != before or map-get($values, after) != after {

						@include instance($values);
					}
				}
			}
		}
	}
}

/*
** FONT FAMILY
*******/
$openSans	: 'Open Sans', sans-serif;

/*
** HTML RESET
*******/
html {
	font-size: 1rem !important;
}

/*
** BODY RESET
*******/
body {
	
	& {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	.#{$resetClass} {
		font-size: 0;
		font-family: $openSans;
	}
}

/*
** AJAX LOADER
*******/
#ajaxBusy {
	display: none !important;
}

/*
** ELEMENTS RESET
*******/ 
.#{$resetClass} {

	a, p, span, ul, li, h1, h2, h3, h4, h5, h6, label, table {
		width: auto;
		height: auto;
		list-style: none;
		margin: 0;
		padding: 0;
		text-decoration: none;
		line-height: inherit;
		word-spacing: 0;
		font-size: 1rem;
	}

	img, fieldset, figure {
		width: auto;
		height: auto;
		margin: 0;
		padding: 0;
		border: 0;
		display: block;
		word-spacing: 0;
	}
}