#comboHeader {

	& {
		width: 100%;
		float: left;
		background-color: #e1e1e1;
	}

	.comboHeaderContent {

		& {
			width: 100%;
			float: left;
		}

		.headerDiscount {

			& {
				width: 100%;
				display: inline-block;
				text-align: center;
			}

			h1 {

				& {
					display: inline-block;
					text-transform: uppercase;
				}

				span {

					& {
						display: inline-block;
						font-size: size(24);
						line-height: size(20);
						text-align: right;
						vertical-align: middle;
					}

					b {
						font-size: size(12);
						display: block;
					}
				}

				strong {

					& {
						display: inline-block;
						font-size: size(110);
						line-height: size(70);
						vertical-align: middle;
						text-align: left;
					}

					i {
						font-size: size(32);
						font-style: normal;
						vertical-align: middle;
					}
				}
			}
		}

		#comboCountDown {

			& {
				width: 100%;
				display: inline-block;
				background-color: rgba(0, 0, 0, 0.3);
				margin: 1rem 0;
				padding: 0 0 0.5rem;
			}

			h5 {
				
				& {
					width: 100%;
					display: inline-block;
					font-size: size(12);
					line-height: size(32);
					color: #FFFFFF;
					background-color: #111111;
					text-transform: uppercase;
					text-align: center;
					padding: 0 1rem;
				}

				span {
					font-size: size(14);
				}
			}

			ul {

				& {
					width: 100%;
					display: table;
					padding: 0 2rem;
					margin-top: 1rem;
					text-align: center;
				}

				li {

					&:not(.doubleDot) {
						width: 25%;
						display: table-cell;
					}

					&.doubleDot {
						padding: 0 0.25rem;
						font-size: size(28);
						font-weight: 800;
					}

					strong {
						width: 100%;
						display: inline-block;
						font-size: size(32);
						background-color: #f3f2ef;
						color: #111111;
						line-height: size(48);
						-webkit-border-radius: 5px;
								border-radius: 5px;
					}

					span {
						width: 100%;
						display: inline-block;
						line-height: size(22);
						font-weight: normal;
						text-transform: uppercase;
						font-size: size(12);
						vertical-align: top;
					}
				}
			}
		}
	}
}