#comboLandingPage {

	& {
		width: 100%;
		float: left;
	}

	.comboLandingPageContent {

		& {
			width: 100%;
			float: left;
			padding-bottom: 2rem;
		}

		.col-mn-3,
		.col-mn-9 {
			vertical-align: top;
		}

		.asideFixed {

			& {
				width: 100%;
				float: left;
				margin-top: 2rem;
				position: relative;
			}
		}

		#asideMenu {

			& {
				width: 100%;
				float: left;
				position: absolute;
				top: 0;
				left: 0;
				padding-bottom: 1rem;
				background-color: #f9f9f9;
				-webkit-border-radius: 5px;
						border-radius: 5px;
				transition: top 0.3s ease;
			}

			h3 {
				width: 100%;
				float: left;
				font-size: size(18);
				font-weight: 800;
				line-height: size(48);
				background-color: #e9e9e9;
				text-transform: uppercase;
				padding: 0 1rem;
				-webkit-border-top-right-radius: 5px;
						border-top-right-radius: 5px;
				-webkit-border-top-left-radius: 5px;
						border-top-left-radius: 5px;
			}

			ul {

				& {
					width: 100%;
					display: inline-block;
					margin-top: 1rem;
				}

				li {

					& {
						width: 100%;
						display: inline-block;
					}

					&.actived {
						background-color: #e1e1e1;
					}

					a {

						& {
							display: block;
							font-size: size(16);
							line-height: size(32);
							color: #111111;
							padding: 0 1rem;
						}

						&:before {
							content: '\f0da';
							font-family: 'FontAwesome';
							margin-right: 0.5rem;
						}
					}
				}
			}
		}

		.comboBanner {

			& {
				width: 100%;
				display: inline-block;
				margin-top: 2rem;
				text-align: center;
				padding: 0 1rem;
			}

			img {
				max-width: 100%;
				display: inline-block;
				vertical-align: middle;
				margin-right: 2rem;
			}

			h1 {

				& {
					display: inline-block;
					text-transform: uppercase;
				}

				span {

					& {
						display: inline-block;
						font-size: size(32);
						line-height: size(30);
						text-align: right;
						vertical-align: middle;
					}

					b {
						font-size: size(14);
						line-height: size(12);
						display: block;
					}
				}

				strong {

					& {
						display: inline-block;
						font-size: size(180);
						line-height: size(120);
						vertical-align: middle;
						text-align: left;
					}

					i {
						font-size: size(48);
						font-style: normal;
						vertical-align: middle;
					}
				}
			}
		}

		.comboCollection {

			& {
				width: 100%;
				display: inline-block;
				text-align: center;
			}

			h1 {
				width: 100%;
				display: inline-block;
				margin-top: 2rem;
				font-size: size(28);
				font-weight: 800;
				color: #111111;
				text-align: center;
				border-bottom: size(1) solid #111111;
			}

			& > button {
				
				& {
					width: auto;
					display: inline-block;
					border: 0;
					border-bottom: size(3) solid #d1d1d1;
					-webkit-border-radius: 5px;
							border-radius: 5px;
					font-size: size(12);
					font-weight: bold;
					line-height: size(16);
					text-transform: uppercase;
					padding: 1rem 3rem;
					margin-top: 2rem;
					cursor: pointer;
					outline: none;
				}

				&:after {
					content: '\f054';
					font-family: 'FontAwesome';
					margin-left: 0.5rem;
				}

				span {

					& {
						display: none;
					}

					img {
						max-width: 80%;
						margin: 0 auto;
					}
				}

				&.showLoader {

					& span {
						display: block;
					}

					strong {
						display: none;
					}

					&:after {
						display: none;
					}
				}
			}

			.comboRender {

				& {
					width: 100%;
					display: inline-block;
					text-align: left;
				}

				ul {

					& {
						margin-left: -1rem;
						font-size: 0;
					}

					li {
						width: 25%;
						padding-left: 1rem;
						display: inline-block;
						margin-top: 3rem;
					}
				}
			}
		}
	}
}