.shelfV2 {

	& {
		width: 100%;
		display: inline-block;
		background-color: #FFFFFF;
		padding: 0.5rem 0.5rem 1rem;
		background-color: #FFFFFF;
		border: size(1) solid #e0dfdc;
		-webkit-border-radius: 5px;
				border-radius: 5px;
		transition: background 0.15s ease;
	}

	.shelfDiscount {

		& {
			position: absolute;
			top: - size(27);
			left: 0;
			background-color: #d1d1d1;
			-webkit-border-top-left-radius: 5px;
					border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
					border-top-right-radius: 5px;
		}

		p {

			& {
				font-size: size(14);
				color: #FFFFFF;
				padding: 0.25rem 0.5rem;
			}

			i {
				vertical-align: middle;
				margin-right: 0.25rem;
			}
		}
	}

	.shelfImage { 

		& {
			width: 100%;
			float: left;
			position: relative;
		}

		img {
			width: 100%;
			margin: 0 auto;
			border: size(1) solid #e0dfdc;
		}
	}

	.shelfInfo {
		
		& {
			width: 100%;
			display: inline-block;
			margin-top: 1rem;
		}

		h3 {
			width: 100%;
			display: inline-block;
			color: #556270;
			font-size: size(13);
			line-height: size(18);
			font-weight: normal;
		}
	}

	.freeShipping {

		& {
			width: 100%;
			display: inline-block;
			margin-top: 1rem;
		}

		p {
			width: auto;
			display: inline-block;
			font-size: size(12);
			line-height: size(24);
			color: #FFFFFF;
			background-color: #92918f;
			text-transform: uppercase;
			padding: 0 0.5rem;
			-webkit-border-radius: 5px;
					border-radius: 5px;
		}
	}

	.shelfPrice {

		& {
			width: 100%;
			display: inline-block;
			margin-top: 1rem;
		}

		p {
			
			& {
				width: 100%;
				display: inline-block;
				color: #556270;
				font-size: size(12);
			}

			i {
				font-style: normal;
				text-decoration: line-through;
			}

			span {
				
				& {
					font-size: size(14);
					color: #000000;
					display: block;
				}

				strong {
					font-size: size(20);
				}
			}
		}
	}

	button {

		& {
			width: auto;
			display: inline-block;
			font-size: size(12);
			font-weight: bold;
			text-transform: uppercase;
			background-color: #FFFFFF;
			color: #556270;
			border: size(1) solid #e0dfdc;
			-webkit-border-radius: 5px;
					border-radius: 5px;
			margin-top: 1rem;
			padding: 0 1rem;
			line-height: size(32);
			-webkit-transition: color 0.15s ease, background 0.15s ease;
					transition: color 0.15s ease, background 0.15s ease;
		}

		i {
			vertical-align: middle;
			margin-right: 0.25rem;
		}
	}

	&.preRender {

		.shelfDiscount {

			& {
				background-color: #e1e1e1;
			}

			p {
				color: #e1e1e1;
			}
		}

		.shelfInfo {

			h3 {
				color: #e1e1e1;
				background-color: #e1e1e1;
			}
		}

		.freeShipping {

			p {
				color: #e1e1e1;
				background-color: #e1e1e1;
			}
		}

		.shelfPrice {

			p {
				
				& {
					color: #e1e1e1;
					background-color: #e1e1e1;
				}

				span {
					color: #e1e1e1;
					background-color: #e1e1e1;
				}
			}
		}

		button {
			color: #e1e1e1;
			background-color: #e1e1e1;
		}
	}
}