.shelfv1 {

	& {
		width: 100%;
		float: left;
		background-color: #FFFFFF;
		margin-top: 2rem;
	}

	.shelfInfo {

		& {
			width: 100%;
			float: left;
			padding-right: 1rem;
			padding-bottom: 1rem;
		}

		h6 {
			width: 100%;
			display: inline-block;
			font-size: size(14);
			font-weight: 800;
			line-height: size(32);
			text-transform: uppercase;
			color: #111111;
			border-bottom: size(1) solid #111111;
		}

		p {

			& {
				width: 100%;
				display: inline-block;
				color: #111111;
				text-transform: uppercase;
				margin-top: 1rem;
			}

			span,
			strong {
				font-size: size(12);
				line-height: size(14);
				display: block;
			}

			i {
				font-size: size(18);
				font-style: normal;
				font-weight: 800;
			}

			b {
				font-size: size(38);
				line-height: size(30);
				font-weight: 800;
			}
		}

		button {
			width: 100%;
			display: inline-block;
			border: 0;
			border-bottom: size(3) solid #d1d1d1;
			-webkit-border-radius: 5px;
					border-radius: 5px;
			font-size: size(12);
			font-weight: 800;
			line-height: size(16);
			text-transform: uppercase;
			padding: 1rem 0.5rem;
			margin-top: 1rem;
		}
	}

	.shelfImage {

		& {
			width: 100%;
			float: left;
		}

		img {
			max-width: 100%;
			margin: 0 auto;
		}
	}
}