
@media all and (max-width: 1040px) {

	.shelfv1 {

		.shelfInfo {

			.col-mn-7,
			.col-mn-5 {
				width: 100%;
			}
		}
	}
}

@media all and (max-width: 680px) {

	.shelfv1 {

		.shelfInfo {

			.col-mn-7 {
				width: 58.3333%;
			}

			.col-mn-5 {
				width: 41.6666%;
			}
		}
	}
}

@media all and (max-width: 540px) {

	.shelfv1 {

		.shelfInfo {

			.col-mn-7,
			.col-mn-5 {
				width: 100%;
			}
		}
	}
}