
@media all and (max-width: 1020px) {

	#comboHeader {

		.comboHeaderContent {

			& {
				text-align: center;
			}

			.col-mn-4 {

				&:not(:last-child) {
					width: 50%;
				}

				&:last-child {
					width: 75%;
				}
			}

			#comboCountDown {
				margin-top: 0;
			}
		}
	}
}

@media all and (max-width: 660px) {

	#comboHeader {

		.comboHeaderContent {

			.col-mn-4 {

				& {
					width: 100% !important;
				}

				&:nth-child(2) {
					display: none;
				}
			}
		}
	}
}

@media all and (max-width: 360px) {

	#comboHeader {

		.comboHeaderContent {

			.col-mn-4 {

				&:last-child {
					display: none;
				}
			}
		}
	}
}