
@media all and (max-width: 1040px) {

	#comboHome {

		.comboHomeContent {

			.col-mn-3 {
				width: 33.3333%;
			}
		}
	}
}

@media all and (max-width: 680px) {

	#comboHome {

		.comboHomeContent {

			.col-mn-3 {
				width: 50%;
			}
		}
	}
}

@media all and (max-width: 480px) {

	#comboHome {

		.comboHomeContent {

			.col-mn-3 {
				width: 100%;
			}
		}
	}
}