@media all and (max-width: 1140px) {

	#comboLandingPage {

		.comboLandingPageContent {

			.col-mn-3 {
				width: 33.3333% !important;
			}

			.col-mn-9 {
				width: 66.6666% !important;
			}

			.comboCollection {

				.comboRender {

					ul {

						li {
							width: 33.3333% !important;
						}
					}
				}
			}
		}
	}
}

@media all and (max-width: 980px) {

	#comboLandingPage {

		.comboLandingPageContent {

			.comboCollection {

				.comboRender {

					ul {

						li {
							width: 50% !important;
						}
					}
				}
			}
		}
	}
}

@media all and (max-width: 780px) {

	#comboLandingPage {

		.comboLandingPageContent {

			.col-mn-3,
			.col-mn-9 {
				width: 100% !important;
			}

			#asideMenu {
				position: static;
			}
		}
	}
}

@media all and (max-width: 480px) {

	#comboLandingPage {

		.comboLandingPageContent {

			.comboCollection {

				.comboRender {

					ul {

						li {
							width: 100% !important;
						}
					}
				}
			}
		}
	}
}

@media all and (max-width: 420px) {

	#comboLandingPage {

		.comboLandingPageContent {

			.comboBanner {

				h1 {
					display: none;
				}
			}
		}
	}
}