<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
	<head>
		<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" hreflang="en" media="all" />
		
		<link href="/arquivos/td-cbPadovani.min.css" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
	</head>
	<body id="ComboLandingPage">

		<!-- Init Combo Landing Page -->
		<section>
			<div class="comboCampaign">
				<div id="comboLandingPage">
					<div class="content">
						<div class="comboLandingPageContent">
							<div class="col-mn-12">
								<!-- # -->

								<div class="row">
									<div class="col-mn-3">
										<div class="asideFixed">
											<div id="asideMenu">
												<div class="asideBanner">
													<h4>
														<i>#</i>
														<span>
															<strong>
																O maior do 
															</strong>
															mundo!
														</span>
													</h4>
													<h5>
														<span>
															<b>
																Mega descontos 
															</b>
															de até:
														</span>
														<strong>
															70<i>%</i>
														</strong>
													</h5>
													<h3>
														Categorias
													</h3>
												</div>
												<ul>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-mn-9">
										<div class="comboBanner">
											<img src="/arquivos/image-diaDoConsumidor-02.png" />
											<h1>
												<span>
													Mega<br/>descontos
													<b>
														de até:
													</b>
												</span>
												<strong>
													70<i>%</i>
												</strong>
											</h1>
										</div>
										<div class="collectionsRender" data-init="true" data-uri="http://www.padovani.com.br/">
											<script type="text/javascript">

												/*
												** INFO
												*******/
												/*
													query 		> 	// 'H:[IdColeção]' OR 'C'
													-------------------------------------
													order 		> 	// 'OrderByPriceASC'
																	// 'OrderByPriceDESC'
																	// 'OrderByTopSaleDESC'
																	// 'OrderByReviewRateDESC'
																	// 'OrderByNameASC'
																	// 'OrderByNameDESC'
																	// 'OrderByReleaseDateDESC'
													-------------------------------------
													page 		> 	// INTEGER // EX: 0 or 1
													-------------------------------------
													quantity 	>	// INTEGER // EX: 0 or 1
													-------------------------------------
													column 		>	// INTEGER // EX: 0 or 1
													-------------------------------------
													layout 		>	// STRING  // EX: befffe90-a181-4ab2-baca-9c36e7a8dc21
													-------------------------------------
												*/

												var collectionsRender = {
													layout 		: 'cd3c9584-fe3c-411a-babc-6f0ae855c466',
													collections	:[
														{
															id 			: '222',
															name 		: 'Banheiro',
															query 		: 'H:',
															order  		: 'OrderByPriceASC',
															page 		: 0,
															quantity 	: 4,
															columns 	: 4
														},
														{
															id 			: '223',
															name 		: 'Cozinha',
															query 		: 'H:',
															order  		: 'OrderByPriceASC',
															page 		: 0,
															quantity 	: 4,
															columns 	: 4
														},
														{
															id 			: '224',
															name 		: 'Ofertas Imperdíveis',
															query 		: 'H:',
															order  		: 'OrderByPriceASC',
															page 		: 0,
															quantity 	: 4,
															columns 	: 4
														}
													]
												};

											</script>
										</div>
									</div>
								</div>

								<!-- # -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Combo Landing Page -->

		<!-- Init Collections Template -->
		<script id="collections-template" type="text/template">
			<div class="comboCollection" id="collection_{{ collections.id }}">
	<h1>
		{{ collections.name }}
	</h1>
	<div class="comboRender">
		<ul>
			<li>
				<div class="shelfV2 preRender">
	<div class="shelfImage">
		<div class="shelfDiscount">
			<p>
				<i class="fa fa-arrow-down" aria-hidden="true"></i>
				00%
			</p>
		</div>
		<img src="/arquivos/image-shelf-02.jpg" />
	</div>
	<div class="shelfInfo">
		<h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</h3>
		<div class="freeShipping">
			<p>
				Lorem ipsum
			</p>
		</div>
		<div class="shelfPrice">
			<p>
				<i>DE:R$ 000,00</i> POR:
				<span>
					<strong>R$ 000,00</strong> no boleto
				</span>
				ou <b>00X de R$ 00,00</b> sem juros
			</p>
		</div>
		<button>
			<i class="fa fa-plus" aria-hidden="true"></i>
			Detalhes
		</button>
	</div>
</div>
			</li>
			<li>
				<div class="shelfV2 preRender">
	<div class="shelfImage">
		<div class="shelfDiscount">
			<p>
				<i class="fa fa-arrow-down" aria-hidden="true"></i>
				00%
			</p>
		</div>
		<img src="/arquivos/image-shelf-02.jpg" />
	</div>
	<div class="shelfInfo">
		<h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</h3>
		<div class="freeShipping">
			<p>
				Lorem ipsum
			</p>
		</div>
		<div class="shelfPrice">
			<p>
				<i>DE:R$ 000,00</i> POR:
				<span>
					<strong>R$ 000,00</strong> no boleto
				</span>
				ou <b>00X de R$ 00,00</b> sem juros
			</p>
		</div>
		<button>
			<i class="fa fa-plus" aria-hidden="true"></i>
			Detalhes
		</button>
	</div>
</div>
			</li>
			<li>
				<div class="shelfV2 preRender">
	<div class="shelfImage">
		<div class="shelfDiscount">
			<p>
				<i class="fa fa-arrow-down" aria-hidden="true"></i>
				00%
			</p>
		</div>
		<img src="/arquivos/image-shelf-02.jpg" />
	</div>
	<div class="shelfInfo">
		<h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</h3>
		<div class="freeShipping">
			<p>
				Lorem ipsum
			</p>
		</div>
		<div class="shelfPrice">
			<p>
				<i>DE:R$ 000,00</i> POR:
				<span>
					<strong>R$ 000,00</strong> no boleto
				</span>
				ou <b>00X de R$ 00,00</b> sem juros
			</p>
		</div>
		<button>
			<i class="fa fa-plus" aria-hidden="true"></i>
			Detalhes
		</button>
	</div>
</div>
			</li>
			<li>
				<div class="shelfV2 preRender">
	<div class="shelfImage">
		<div class="shelfDiscount">
			<p>
				<i class="fa fa-arrow-down" aria-hidden="true"></i>
				00%
			</p>
		</div>
		<img src="/arquivos/image-shelf-02.jpg" />
	</div>
	<div class="shelfInfo">
		<h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</h3>
		<div class="freeShipping">
			<p>
				Lorem ipsum
			</p>
		</div>
		<div class="shelfPrice">
			<p>
				<i>DE:R$ 000,00</i> POR:
				<span>
					<strong>R$ 000,00</strong> no boleto
				</span>
				ou <b>00X de R$ 00,00</b> sem juros
			</p>
		</div>
		<button>
			<i class="fa fa-plus" aria-hidden="true"></i>
			Detalhes
		</button>
	</div>
</div>
			</li>
		</ul>
	</div>
	<button id="button_{{ collections.id }}" class="moreOffers" data-id="{{ collections.id }}" data-query="{{ collections.query }}" data-order="{{ collections.order }}" data-page="{{ collections.page }}" data-quantity="{{ collections.quantity }}" data-columns="{{ collections.columns }}" data-layout="{{ layout }}">
		<strong>
			Veja Mais Ofertas
		</strong>
		<span>
			<img src="/arquivos/combo-loader.gif" />
		</span>
	</button>
</div>
		</script>
		<!-- End Collections Template -->

		<!-- Init List Template -->
		<script id="list-template" type="text/template">
			<li>
				<a href="#collection_{{ id }}">
					{{ name }}
				</a>
			</li>
		</script>
		<!-- End List Template -->

		<script type="text/javascript" src="/arquivos/td-combo.min.js"></script>
		<script type="text/javascript" src="/arquivos/td-cbPadovani.min.js"></script>
	</body>
</html>